<div class="small-center">
  <aside class="col-xs-12 inner-top-data">
    <div class="col-md-6 gray2 inner-top-text inner-small div-left">
      <div class="inner-small-blockleft">
        <span>23 de Febrero del 2016 </span> &#32;&#32;
        <span class="inner-small-clock">10:52 AM.</span>
      </div>
      <div class="inner-small-blockright">
        <span>T.C. Dolar: Venta: 3.16</span>
        <span class="inner-small-dolar"> Compra: 3.00</span>
      </div>
    </div>
    <div class="col-md-6 text-right">
      <span class="white inner-top-text second pull-right">
        <img src="images/reloj.gif" class="ico-clock"/>
        <span class="text-responsive550">Su ventana </span><span class="text-responsive-info">se cerrará en</span>
      <b class="mustard">
          <span class="countdown-number">180</span>
          segundos
        </b>
      </span>
    </div>
  </aside>

  <section class="panel section section-welcome">
    <span class="tab-indicator"></span>

    <!-- NUBE DE AYUDA -->
    <aside class="help-cloud">
      <span class="fa fa-times"></span>¿Necesita ayuda?
      <span class="arrow"></span>

      <div class="help-cloud-content scrollbox">
        <div class="content-block">
          <h6 class="skyblue content-title">Servicios</h6>
          <a class="content-link" data-toggle="modal" href="#message-modal">
            <span class="ico ico-vineta-1x"></span> Aprende a operar por internet
          </a>
          <a class="content-link" data-toggle="modal" href="#message-modal">
            <span class="ico ico-vineta-1x"></span> ¿Qué operaciones puedo hacer?
          </a>
          <a class="content-link" data-toggle="modal" href="#message-modal">
            <span class="ico ico-vineta-1x"></span> Consejos importantes para seguridad
          </a>
        </div>

        <div class="content-block">
          <h6 class="skyblue content-title">Clave de internet</h6>
          <a class="content-link" data-toggle="modal" href="#message-modal">
            <span class="ico ico-vineta-1x"></span>
            <span class="link-text">¿Qué es la clave de internet?</span>
          </a>
          <a class="content-link" data-toggle="modal" href="#message-modal">
            <span class="ico ico-vineta-1x"></span>
            <span class="link-text">¿Cómo afilio mi tarjeta Piura Cash a la clave internet</span> (6 dígitos)?
          </a>
          <a class="content-link" data-toggle="modal" href="#message-modal">
            <span class="ico ico-vineta-1x"></span>
            <span class="link-text">¿Olvidaste tu clave de internet?</span>
          </a>
          <a class="content-link" data-toggle="modal" href="#message-modal">
            <span class="ico ico-vineta-1x"></span>
            <span class="link-text">¿Cómo cambiar tu clave de internet?</span>
          </a>
        </div>

        <div class="content-block">
          <h6 class="skyblue content-title">Clave de internet</h6>
          <a class="content-link" data-toggle="modal" href="#message-modal">
            <span class="ico ico-vineta-1x"></span>
            <span class="link-text">¿Qué es la clave de internet?</span>
          </a>
          <a class="content-link" data-toggle="modal" href="#message-modal">
            <span class="ico ico-vineta-1x"></span>
            <span class="link-text">¿Cómo afilio mi tarjeta Piura Cash a la clave internet</span> (6 dígitos)?
          </a>
          <a class="content-link" data-toggle="modal" href="#message-modal">
            <span class="ico ico-vineta-1x"></span>
            <span class="link-text">¿Olvidaste tu clave de internet?</span>
          </a>
          <a class="content-link" data-toggle="modal" href="#message-modal">
            <span class="ico ico-vineta-1x"></span>
            <span class="link-text">¿Cómo cambiar tu clave de internet?</span>
          </a>
        </div>

        <div class="content-block">
          <h6 class="skyblue content-title">Clave de internet</h6>
          <a class="content-link" data-toggle="modal" href="#message-modal">
            <span class="ico ico-vineta-1x"></span>
            <span class="link-text">¿Qué es la clave de internet?</span>
          </a>
          <a class="content-link" data-toggle="modal" href="#message-modal">
            <span class="ico ico-vineta-1x"></span>
            <span class="link-text">¿Cómo afilio mi tarjeta Piura Cash a la clave internet</span> (6 dígitos)?
          </a>
          <a class="content-link" data-toggle="modal" href="#message-modal">
            <span class="ico ico-vineta-1x"></span>
            <span class="link-text">¿Olvidaste tu clave de internet?</span>
          </a>
          <a class="content-link" data-toggle="modal" href="#message-modal">
            <span class="ico ico-vineta-1x"></span>
            <span class="link-text">¿Cómo cambiar tu clave de internet?</span>
          </a>
        </div>

        <div class="content-block">
          <h6 class="skyblue content-title">Clave de internet</h6>
          <a class="content-link" data-toggle="modal" href="#message-modal">
            <span class="ico ico-vineta-1x"></span>
            <span class="link-text">¿Qué es la clave de internet?</span>
          </a>
          <a class="content-link" data-toggle="modal" href="#message-modal">
            <span class="ico ico-vineta-1x"></span>
            <span class="link-text">¿Cómo afilio mi tarjeta Piura Cash a la clave internet</span> (6 dígitos)?
          </a>
          <a class="content-link" data-toggle="modal" href="#message-modal">
            <span class="ico ico-vineta-1x"></span>
            <span class="link-text">¿Olvidaste tu clave de internet?</span>
          </a>
          <a class="content-link" data-toggle="modal" href="#message-modal">
            <span class="ico ico-vineta-1x"></span>
            <span class="link-text">¿Cómo cambiar tu clave de internet?</span>
          </a>
        </div>
      </div>
    </aside>


    <div class="content-menu content-persons">
      <!-- BTN PARA ABRIR MENU -->
      <div class="menu-title">
        <span class="fa fa-bars white"></span>
        <span class="white text-uppercase">Menú</span>
        <span class="show-text-active"></span>
      </div>

      <!-- LISTA DEL MENU -->
      <div class="menu-groups">
        <div class="menu-group active first">
          <button type="button" data-tabs="consulta" class="btn hover text-uppercase menu-group-btn active first-btn">
            Consultas
            <div class="x_tab_amarillo"></div>
            <span class="fa fa-chevron-up"></span>
          </button>

          <div id="meDesktopTrue" class="hidden-xs hidden-sm menuPersonas">
            <span class="fa fa-bars white"></span>
          </div>
          <div id="meDesktopFalse" class="hidden-xs hidden-sm menuPersonas hidden">
            <span class="fa fa-times white"> </span>
          </div>

          <!-- menu movil -->
          <div class="menu-group-content visible-xs visible-sm">
            <a href="#">Saldo y movimiento</a>
            <a href="#">Extractos de cuenta órdenes de pago</a>
            <a href="#">Extractos cuenta diaria órdenes de pago</a>
            <a href="#">Créditos y líneas</a>
          </div>
        </div>

        <div class="menu-group">
          <button type="button" data-tabs="operacion" class="btn hover text-uppercase menu-group-btn second-btn">
            Operaciones
            <div class="x_tab_amarillo hidden"></div>
            <span class="fa fa-chevron-down"></span>
          </button>
          <div class="menu-group-content visible-xs visible-sm">
            <a href="#">Pago de creditos y Lineas</a>
            <a href="#">Apertura de plazo fijo</a>
            <a href="#">Incremento de plazo fijo</a>
            <a href="#">Pago de servicios</a>
            <a href="#">Pago de planilla</a>
            <a href="#">Consulta de planillas</a>
          </div>
        </div>

        <div class="menu-group">
          <button type="button" data-tabs="solicitud" class="btn hover text-uppercase menu-group-btn third-btn">
            Solicitudes
            <div class="x_tab_amarillo hidden"></div>
            <span class="fa fa-chevron-down"></span>
          </button>
          <div class="menu-group-content visible-xs visible-sm">
            <a href="#">Consulta de solicitudes</a>
          </div>
        </div>

        <div class="menu-group">
          <button href="" type="button" data-tabs="administracion" class="btn hover text-uppercase menu-group-btn fourth-btn">
            Administración
            <div class="x_tab_amarillo hidden"></div>
            <span class="fa fa-chevron-down"></span>
          </button>
          <div class="menu-group-content visible-xs visible-sm">
            <a href="#">Cambie su clave internet </a>
            <a href="#">Buzón de mensaje</a>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-body">




      <!-- MOVIMIENTOS CTS -->
      <!-- <div class="row">
        <div class="col-xs-12 col-md-12">
          <div class="col-xs-12 col-md-12">
            <div class="col-md-6">
              <h5 class="content-table"><span class="ico-atras-1x ico"> </span> Movimientos</h5>
            </div>
            <div class="col-md-6 icons-details">
              <a><span class="ic_enviar ico"> </span> Enviar</a>
              <a><span href="#" class="ic_exportar_excel ico"> </span>  Exportar</a>
              <a id="imprimir"><span href="#" class="ic_impresion ico"> </span>   Imprimir</a>
            </div>
          </div>
          <div class="col-xs-12 col-md-12">
            <h5 class="bgTitle">CTS</h5>
          </div>
        </div>

        <div class="col-xs-12 col-md-12" id="ctn-creditos">
          <div class="col-xs-12 col-md-3">
            <p class="silver">Número de cuenta</p>
            <p class="silver2">123123-12312</p>
          </div>
          <div class="col-xs-12 col-md-3">
            <p class="silver">Nombre de la cuenta</p>
            <p class="silver2">CUENTA CTS M.N</p>
          </div>
          <div class="col-xs-12 col-md-3">
            <p class="silver">Saldo disponible</p>
            <p class="silver2">S/.2.14 </p>
          </div>
          <div class="col-xs-12 col-md-3">
            <p class="silver">Monto total</p>
            <p class="silver2">S/.141.00</p>
          </div>
        </div>
        <hr class="hrStyle2">
        <div class="col-xs-12 col-md-12 content-extrSaldo">
          <div class="col-md-2">
            <h5 class="mustard">BÚSQUEDA</h5>
          </div>
          <div class="col-md-10">
            <p class="silver">Seleccione el criterio de búsqueda y haz click en el botón "BUSCAR" </p>
          </div>
          <div class="col-md-12">
            <div class="col-md-3">
              <div class="form-group">
                <label for="login-user-code" class="step-label labelTwo">Buscar por</label>
                <select class="select form-select silverSelect" name="login-card-select" id="login-card-select">
                  <option>Fecha</option>
                </select>
              </div>
            </div>
            <div class="col-md-offset-1 col-md-3">
              <div class="form-group">
                <label for="login-user-code" class="step-label labelTwo">Desde</label>
                <input type="text" name="name" value="" class="datepicker form-select">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="login-user-code" class="step-label labelTwo">Hasta</label>
                <input type="text" name="name" value="" class="datepicker form-select">
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <button type="button" name="button" class="btn btn-mustard pull-right btnTOP">Buscar</button>
              </div>
            </div>
          </div>

        </div>
        <div class="col-xs-12 col-md-12 content-extrSaldo">
          <h5 class="mustard">Resultado de búsqueda:</h5>
        </div>
        <table class="table table-design" id="tableMTN">
          <thead>
            <tr class="tr-bg">
              <th>Fecha</th>
              <th>Hora</th>
              <th>Descripción</th>
              <th>Importe</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>24/12/2123</td>
              <td>23:00</td>
              <td>TRANSFERENCIA DE CTA. A CTA.</td>
              <td>-30</td>
            </tr>
            <tr>
              <td>24/12/2123</td>
              <td>23:00</td>
              <td>TRANSFERENCIA DE CTA. A CTA.</td>
              <td>-30</td>
            </tr>
            <tr>
              <td>24/12/2123</td>
              <td>23:00</td>
              <td>TRANSFERENCIA DE CTA. A CTA.</td>
              <td>-30</td>
            </tr>
            <tr>
              <td>24/12/2123</td>
              <td>23:00</td>
              <td>TRANSFERENCIA DE CTA. A CTA.</td>
              <td>-30</td>
            </tr>
          </tbody>
        </table>
        <div class="col-xs-12 col-sm-12 col-md-12 bgShowTotal">
          <p class="blue textShowTotal">Saldo disponible : <b>S/2.99</b></p>
        </div>
      </div> -->



      <!-- CONTENEDORES DE LOS BUTTONES TABS -->
      <!-- CONSULTAS -->
      <div class="content-info active-content" id="consulta">
        <!-- <h1 class="gray2 content-title text-center">Bienvenido a <br> Caja Piura Internet Personas</h1>
        <p class="gray2 content-text text-center">
          A continuación realice sus operaciones seleccionando las opciones del menú.
        </p> -->

        <!-- detalle CTS -->
        <!-- <div class="row">
          <div class="col-xs-12 col-md-12">
            <div class="col-xs-12 col-md-12">
              <div class="col-md-10">
                <h5 class="content-table"><span class="ico-atras-1x ico mL16"> </span> Detalle de cuenta</h5>
              </div>
              <div class="col-md-2 icons-details">
                <a id="imprimir"><span href="#" class="ic_impresion ico"> </span>   Imprimir</a>
              </div>
            </div>
            <div class="col-xs-12 col-md-12">
              <h5 class="bgTitle">CTS</h5>
            </div>
          </div>

          <div class="col-xs-12 col-md-12" id="ctn-creditos">
            <div class="col-xs-12 col-md-4">
              <p class="silver">Número de cuenta</p>
              <p class="silver2">123123-12312</p>
            </div>
            <div class="col-xs-12 col-md-4">
              <p class="silver">Nombre de la cuenta</p>
              <p class="silver2">CUENTA CTS M.N</p>
            </div>
            <div class="col-xs-12 col-md-4">
              <p class="silver">Nombre del cliente</p>
              <p class="silver2">AMAYO QUIROZ LIDLIA DEL ROSADO</p>
            </div>
          </div>

          <table class="table table-design" id="tableMTN">
            <thead>
              <tr class="tr-bg">
                <th>Monto total</th>
                <th>Disponibilidad </th>
                <th>Interes</th>
                <th>Saldo disponible</th>
                <th>Tasa int.(TEA)</th>
                <th>Fecha de apertura</th>
                <th>Último deposito</th>
                <th>Movimientos</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>S/.14.000</td>
                <td>%0.0</td>
                <td>S/33.00</td>
                <td>S/.2.14</td>
                <td>6.50%</td>
                <td>14/12/2131</td>
                <td>14/12/2131</td>
                <td><a href="#" class="view_details ico"></a></td>
              </tr>
            </tbody>
          </table>
        </div> -->


        <!-- MOVIMIENTOS CTS -->
        <!-- <div class="row">
          <div class="col-xs-12 col-md-12">
            <div class="col-xs-12 col-md-12">
              <div class="col-md-7">
                <h5 class="content-table"><span class="ico-atras-1x ico mL16"> </span> Movimientos</h5>
              </div>
              <div class="col-md-5 icons-details">
                <a><span class="ic_enviar ico"> </span> Enviar</a>
                <a><span href="#" class="ic_exportar_excel ico"> </span>  Exportar</a>
                <a id="imprimir"><span href="#" class="ic_impresion ico"> </span>   Imprimir</a>
              </div>
            </div>
            <div class="col-xs-12 col-md-12">
              <h4 class="bgTitle">CTS</h4>
            </div>
          </div>

          <div class="col-xs-12 col-md-12" id="ctn-creditos">
            <div class="col-xs-12 col-md-3">
              <p class="silver">Número de cuenta</p>
              <p class="silver2">123123-12312</p>
            </div>
            <div class="col-xs-12 col-md-3">
              <p class="silver">Nombre de la cuenta</p>
              <p class="silver2">CUENTA CTS M.N</p>
            </div>
            <div class="col-xs-12 col-md-3">
              <p class="silver">Saldo disponible</p>
              <p class="silver2">S/.2.14 </p>
            </div>
            <div class="col-xs-12 col-md-3">
              <p class="silver">Monto total</p>
              <p class="silver2">S/.141.00</p>
            </div>
          </div>
          <hr class="hrStyle2">
          <div class="col-xs-12 col-md-12 content-extrSaldo">
            <div class="col-md-2">
              <h5 class="mustard">BÚSQUEDA</h5>
            </div>
            <div class="col-md-10">
              <p class="silver">Seleccione el criterio de búsqueda y haz click en el botón "BUSCAR" </p>
            </div>
            <div class="col-md-12">
              <div class="col-md-3">
                <div class="form-group">
                  <label for="login-user-code" class="step-label labelTwo">Buscar por</label>
                  <select class="select form-select silverSelect" name="login-card-select" id="login-card-select">
                    <option>Fecha</option>
                  </select>
                </div>
              </div>
              <div class="col-md-offset-1 col-md-3">
                <div class="form-group">
                  <label for="login-user-code" class="step-label labelTwo">Desde</label>
                  <input type="text" name="name" value="" class="datepicker form-select">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="login-user-code" class="step-label labelTwo">Hasta</label>
                  <input type="text" name="name" value="" class="datepicker form-select">
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <button type="button" name="button" class="btn btn-mustard pull-right btnTOP">Buscar</button>
                </div>
              </div>
            </div>

          </div>
          <div class="col-xs-12 col-md-12 content-extrSaldo">
            <h5 class="mustard">Resultado de búsqueda:</h5>
          </div>
          <table class="table table-design" id="tableMTN">
            <thead>
              <tr class="tr-bg">
                <th>Fecha</th>
                <th>Hora</th>
                <th>Descripción</th>
                <th>Importe</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>24/12/2123</td>
                <td>23:00</td>
                <td>TRANSFERENCIA DE CTA. A CTA.</td>
                <td>-30</td>
              </tr>
              <tr>
                <td>24/12/2123</td>
                <td>23:00</td>
                <td>TRANSFERENCIA DE CTA. A CTA.</td>
                <td>-30</td>
              </tr>
              <tr>
                <td>24/12/2123</td>
                <td>23:00</td>
                <td>TRANSFERENCIA DE CTA. A CTA.</td>
                <td>-30</td>
              </tr>
              <tr>
                <td>24/12/2123</td>
                <td>23:00</td>
                <td>TRANSFERENCIA DE CTA. A CTA.</td>
                <td>-30</td>
              </tr>
            </tbody>
          </table>
          <div class="col-xs-12 col-sm-12 col-md-12 bgShowTotal">
            <p class="blue textShowTotal">Saldo disponible : <b>S/2.99</b></p>
          </div>
        </div> -->


        <!-- detalle cuenta ahorro corriente -->
        <!-- <div class="row">
          <div class="col-xs-12 col-md-12">
            <div class="col-xs-12 col-md-12">
              <div class="col-md-8">
                <h5 class="content-table"><span class="ico-atras-1x ico mL16"> </span> Detalle de cuenta</h5>
              </div>
              <div class="col-md-4 icons-details">
                <a><span href="#" class="ic_exportar_excel ico"> </span>  Exportar</a>
                <a id="imprimir"><span href="#" class="ic_impresion ico"> </span>   Imprimir</a>
              </div>
            </div>
            <div class="col-xs-12 col-md-12">
              <h5 class="bgTitle">AHORRO CORRIENTE</h5>
            </div>
          </div>

          <div class="col-xs-12 col-md-12 mBOTTOM" id="ctn-creditos">
            <div class="col-xs-12 col-md-3">
              <p class="silver">Número de cuenta</p>
              <p class="silver2">123123-12312</p>
            </div>
            <div class="col-xs-12 col-md-3">
              <p class="silver">Código CCI</p>
              <p class="silver2">123131213231231</p>
            </div>
            <div class="col-xs-12 col-md-3">
              <p class="silver">Tipo de cuenta</p>
              <p class="silver2">AHORRO M.N</p>
            </div>
            <div class="col-xs-12 col-md-3">
              <p class="silver">Nombre del cliente</p>
              <p class="silver2">AQUINO HUAMÁN SANDRA </p>
            </div>
          </div>
          <hr class="hrStyle2">
          <div class="col-xs-12 col-md-12 content-extrSaldo">
            <div class="col-md-2">
              <h5 class="mustard">BÚSQUEDA</h5>
            </div>
            <div class="col-md-10">
              <p class="silver">Seleccione el criterio de búsqueda y haz click en el botón "BUSCAR" </p>
            </div>
            <div class="col-md-12">
              <div class="col-md-3">
                <div class="form-group">
                  <label for="login-user-code" class="step-label labelTwo">Buscar por</label>
                  <select class="select form-select silverSelect" name="login-card-select" id="login-card-select">
                    <option>Fecha</option>
                  </select>
                </div>
              </div>
              <div class="col-md-offset-1 col-md-3">
                <div class="form-group">
                  <label for="login-user-code" class="step-label labelTwo">Desde</label>
                  <input type="text" name="name" value="" class="datepicker form-select">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="login-user-code" class="step-label labelTwo">Hasta</label>
                  <input type="text" name="name" value="" class="datepicker form-select">
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <button type="button" name="button" class="btn btn-mustard pull-right btnTOP">Buscar</button>
                </div>
              </div>
            </div>

          </div>
          <div class="col-xs-12 col-md-12 content-extrSaldo">
            <h5 class="mustard">Resultado de búsqueda:</h5>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 content-extrSaldo">
            <p class="silver">No existe movimientos registrados de acuerdo al criterio de búsqueda seleccionado.</p>
          </div>
          <table class="table table-design" id="tableMTN">
            <thead>
              <tr class="tr-bg">
                <th>Fecha</th>
                <th>Hora</th>
                <th>Descripción</th>
                <th>Importe</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>24/12/2123</td>
                <td>23:00</td>
                <td>TRANSFERENCIA DE CTA. A CTA.</td>
                <td>-30</td>
              </tr>
              <tr>
                <td>24/12/2123</td>
                <td>23:00</td>
                <td>TRANSFERENCIA DE CTA. A CTA.</td>
                <td>-30</td>
              </tr>
              <tr>
                <td>24/12/2123</td>
                <td>23:00</td>
                <td>TRANSFERENCIA DE CTA. A CTA.</td>
                <td>-30</td>
              </tr>
              <tr>
                <td>24/12/2123</td>
                <td>23:00</td>
                <td>TRANSFERENCIA DE CTA. A CTA.</td>
                <td>-30</td>
              </tr>
            </tbody>
          </table>
          <div class="col-xs-12 col-sm-12 col-md-12 bgShowTotal">
            <p class="blue textShowTotal">Saldo disponible : <b>S/901.40</b></p>
          </div>
        </div> -->


        <!-- MOVIMIENTOS PLAZO FIJO -->
        <!-- <div class="row">
          <div class="col-xs-12 col-md-12">
            <div class="col-xs-12 col-md-12">
              <div class="col-md-7">
                <h5 class="content-table"><span class="ico-atras-1x ico mL16"> </span> Movimientos</h5>
              </div>
              <div class="col-md-5 icons-details">
                <a><span class="ic_enviar ico"> </span> Enviar</a>
                <a><span href="#" class="ic_exportar_excel ico"> </span>  Exportar</a>
                <a id="imprimir"><span href="#" class="ic_impresion ico"> </span>   Imprimir</a>
              </div>
            </div>
            <div class="col-xs-12 col-md-12">
              <h5 class="bgTitle">PLAZO FIJO</h5>
            </div>
          </div>

          <div class="col-xs-12 col-md-12" id="ctn-creditos">
            <div class="col-xs-12 col-md-3">
              <p class="silver">Número de cuenta</p>
              <p class="silver2">123123-12312</p>
            </div>
            <div class="col-xs-12 col-md-3">
              <p class="silver">Nombre de la cuenta</p>
              <p class="silver2">AHORRO PLAZO FIJO</p>
            </div>
            <div class="col-xs-12 col-md-3">
              <p class="silver">Código CCI</p>
              <p class="silver2">123131213231231</p>
            </div>
            <div class="col-xs-12 col-md-3">
              <p class="silver">Monto capital</p>
              <p class="silver2">%./141.00</p>
            </div>
          </div>
          <div class="col-xs-12 col-md-12" id="ctn-creditos">
            <div class="col-xs-12 col-md-3">
              <p class="silver">Plazo (días)</p>
              <p class="silver2">360</p>
            </div>
            <div class="col-xs-12 col-md-3">
              <p class="silver">Tasa de ínteres</p>
              <p class="silver2">%2.70</p>
            </div>
            <div class="col-xs-12 col-md-3">
              <p class="silver">Fecha de apertura</p>
              <p class="silver2">14/06/1032</p>
            </div>
            <div class="col-xs-12 col-md-3">
              <p class="silver">Fecha de última operación</p>
              <p class="silver2">14/06/1032</p>
            </div>
          </div>
          <div class="col-xs-12 col-md-12" id="ctn-creditos">
            <div class="col-xs-12 col-md-3">
              <p class="silver">Número de cuotas</p>
              <p class="silver2">20</p>
            </div>
            <div class="col-xs-12 col-md-3">
              <p class="silver">Fecha de vencimiento</p>
              <p class="silver2">12/12/2016</p>
            </div>
          </div>

          <hr class="hrStyle2">
          <div class="col-xs-12 col-md-12 content-extrSaldo">
            <div class="col-md-2">
              <h5 class="mustard">BÚSQUEDA</h5>
            </div>
            <div class="col-md-10">
              <p class="silver">Seleccione el criterio de búsqueda y haz click en el botón "BUSCAR" </p>
            </div>
            <div class="col-md-12">
              <div class="col-md-3">
                <div class="form-group">
                  <label for="login-user-code" class="step-label labelTwo">Buscar por</label>
                  <select class="select form-select silverSelect" name="login-card-select" id="login-card-select">
                    <option>Fecha</option>
                  </select>
                </div>
              </div>
              <div class="col-md-offset-1 col-md-3">
                <div class="form-group">
                  <label for="login-user-code" class="step-label labelTwo">Desde</label>
                  <input type="text" name="name" value="" class="datepicker form-select">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="login-user-code" class="step-label labelTwo">Hasta</label>
                  <input type="text" name="name" value="" class="datepicker form-select">
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <button type="button" name="button" class="btn btn-mustard pull-right btnTOP">Buscar</button>
                </div>
              </div>
            </div>

          </div>
          <div class="col-xs-12 col-md-12 content-extrSaldo">
            <h5 class="mustard">Resultado de búsqueda:</h5>
          </div>
          <table class="table table-design" id="tableMTN">
            <thead>
              <tr class="tr-bg">
                <th>Fecha</th>
                <th>Hora</th>
                <th>Descripción</th>
                <th>Importe</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>24/12/2123</td>
                <td>23:00</td>
                <td>TRANSFERENCIA DE CTA. A CTA.</td>
                <td>-30</td>
              </tr>
            </tbody>
          </table>
          <div class="col-xs-12 col-sm-12 col-md-12 bgShowTotal">
            <p class="blue textShowTotal">Saldo disponible : <b>S/191.40</b></p>
          </div>
        </div> -->


        <!--  retencion por ITF -->
        <!-- <div class="row">
          <div class="col-md-12">
            <div class="col-md-8">
              <h5 class="content-table"><span id="dL" class="ico-atras-1x"> </span>  Retenciones por ITF</h5>
            </div>
            <div class="col-md-4 icons-details">
              <a><span href="#" class="ic_exportar_excel ico"> </span>   Exportar</a>
              <a id="imprimir"><span href="#" class="ic_impresion ico"> </span>   Imprimir</a>
            </div>
          </div>
          <hr class="hrStyle2">
          <div class="col-xs-12 col-md-12 content-extrSaldo">
            <div class="col-md-5">
              <div class="form-group">
                <label for="login-user-code" class="step-label labelTwo">Cuenta de origen</label>
                <select class="select form-select silverSelect" name="login-card-select" id="login-card-select">
                  <option>Cuentas de ahorro 110-02-12312(US$)</option>
                </select>
              </div>
            </div>
            <div class="col-md-12">
              <div class="col-md-3">
                <div class="form-group">
                  <label for="login-user-code" class="step-label labelTwo">Buscar por</label>
                  <select class="select form-select silverSelect" name="login-card-select" id="login-card-select">
                    <option>Fecha</option>
                  </select>
                </div>
              </div>
              <div class="col-md-offset-1 col-md-3">
                <div class="form-group">
                  <label for="login-user-code" class="step-label labelTwo">Desde</label>
                  <input type="text" name="name" value="" class="datepicker form-select">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="login-user-code" class="step-label labelTwo">Hasta</label>
                  <input type="text" name="name" value="" class="datepicker form-select">
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <button type="button" name="button" class="btn btn-mustard pull-right btnTOP">Buscar</button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-md-12 content-extrSaldo">
            <h5 class="mustard">Resultado de búsqueda:</h5>
          </div>
          <table class="table table-design" id="tableMTN">
            <thead>
              <tr class="tr-bg">
                <th>Fecha</th>
                <th>Hora</th>
                <th>Monto</th>
                <th>% ITF</th>
                <th>ITF</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>24/12/2123</td>
                <td>23:00</td>
                <td>S./14.000</td>
                <td>0.01%</td>
                <td>0.05%</td>
              </tr>
            </tbody>
          </table>
        </div> -->


        <!-- EXTRACTO DE SALDO MENSUAL -->
        <!-- <div class="row">
          <div class="col-md-12">
            <div class="col-md-10">
              <h5 class="content-table"><span id="dL" class="ico-atras-1x"> </span>  Extracto de saldo mensual</h5>
            </div>
          </div>
          <hr class="hrStyle2">
          <div class="col-xs-12 col-md-12 content-extrSaldo">
            <div class="col-md-5">
              <div class="form-group">
                <label for="login-user-code" class="step-label labelTwo">Cuenta de origen</label>
                <select class="select form-select silverSelect" name="login-card-select" id="login-card-select">
                  <option>Cuentas de ahorro 110-02-12312(US$)</option>
                </select>
              </div>
            </div>
            <div class="col-md-offset-1 col-md-3">
              <div class="form-group">
                <label for="login-user-code" class="step-label labelTwo">Fecha de extracto mensual</label>
                <select class="select form-select silverSelect" name="login-card-select" id="login-card-select">
                  <option selected="">Agosto-2014</option>
                </select>
              </div>
            </div>
            <div class="col-md-offset-1 col-md-2">
              <button type="button" name="button" class="btn btn-mustard pull-right btnTOP">Siguiente</button>
            </div>
          </div>
          <hr class="hrStyle2">
          <div class="col-xs-12 col-md-12 content-extrSaldo">
            <h5 class="mustard">RESULTADO</h5>
            <div class=""><br>
              <p class="silver">
                Estimado cliente, <br>
                Si en el termino de 30 días no se formula observaciones algunas sobre su saldo
                , el miso se dará por aprobado.
              </p><br>
            </div>
            <div class="col-md-12">
              <div class="col-md-6">
                <p class="silver">Cuenta de origen</p>
                <p class="silver2">Fecha de extracto mensual</p>
              </div>
              <div class="col-md-6">
                <p class="silver">110-02-12312</p>
                <p class="silver2">08-2016</p>
              </div>
            </div>
          </div><br><br>
          <div class="col-xs-12 col-sm-12 col-md-12 alert-extractoSaldo">
            <p class="silver pMT">
              <span class="ic_alerta ico"></span>
               Los extractos de pago mensual están disponibles a partir del año 2011
            </p>
          </div>
          <div class="col-xs-12 col-md-12">
            <div class="col-md-12">
              <button type="button" name="button" class="btn btn-mustard pull-right btnTOP2" data-toggle="modal" data-target="#showDescargaMensual">Descargar</button>
            </div>
          </div>
        </div> -->


        <!-- EXTRACTO DE SALDO MENSUAL -->
        <!-- <div class="row">
          <div class="col-md-12">
            <div class="col-md-10">
              <h5 class="content-table"><span id="dL" class="ico-atras-1x"> </span>  Extracto de saldo mensual</h5>
            </div>
          </div>
          <hr class="hrStyle2">
          <div class="col-xs-12 col-md-12 content-extrSaldo">
            <div class="col-md-5">
              <div class="form-group">
                <label for="login-user-code" class="step-label labelTwo">Cuenta de origen</label>
                <select class="select form-select silverSelect" name="login-card-select" id="login-card-select">
                  <option>Cuentas de ahorro 110-02-12312(US$)</option>
                </select>
              </div>
            </div>
            <div class="col-md-offset-1 col-md-3">
              <div class="form-group">
                <label for="login-user-code" class="step-label labelTwo">Fecha de extracto mensual</label>
                <select class="select form-select silverSelect" name="login-card-select" id="login-card-select">
                  <option selected="">Agosto-2014</option>
                </select>
              </div>
            </div>
            <div class="col-md-offset-1 col-md-2">
              <button type="button" name="button" class="btn btn-mustard pull-right btnTOP">Siguiente</button>
            </div>
          </div>
          <hr class="hrStyle2">
          <div class="col-xs-12 col-md-12 content-extrSaldo">
            <h5 class="mustard">RESULTADO</h5>
            <div class=""><br>
              <p class="silver">
                Estimado cliente, <br>
                Si en el termino de 30 días no se formula observaciones algunas sobre su saldo
                , el miso se dará por aprobado.
              </p><br>
            </div>
            <div class="col-md-12">
              <div class="col-md-6">
                <p class="silver">Cuenta de origen</p>
                <p class="silver2">Fecha de extracto mensual</p>
              </div>
              <div class="col-md-6">
                <p class="silver">110-02-12312</p>
                <p class="silver2">08-2016</p>
              </div>
            </div>
          </div><br><br>
          <div class="col-xs-12 col-sm-12 col-md-12 alert-extractoSaldo">
            <p class="silver pMT">
              <span class="ic_alerta ico"></span>
               Los extractos de pago mensual están disponibles a partir del año 2011
            </p>
          </div>
          <div class="col-xs-12 col-md-12">
            <div class="col-md-12">
              <button type="button" name="button" class="btn btn-mustard pull-right btnTOP2" data-toggle="modal" data-target="#showDescargaMensual">Descargar</button>
            </div>
          </div>
        </div> -->


        <!-- Extracto de saldo diario -->
        <!-- <div class="row">
          <div class="col-md-12">
            <div class="col-md-10">
              <h5 class="content-table"><span id="dL" class="ico-atras-1x"> </span>  Extracto de saldo diario</h5>
            </div>
            <div class="col-md-2 icons-details">
              <a id="imprimir"><span href="#" class="ic_enviar ico"> </span>   Enviar</a>
            </div>
          </div>
          <hr class="hrStyle2">
          <div class="col-xs-12 col-md-12" id="content-extrSaldo">
            <div class="col-md-5">
              <div class="form-group">
                <label for="login-user-code" class="step-label labelTwo">Cuenta de origen</label>
                <select class="select form-select silverSelect" name="login-card-select" id="login-card-select">
                  <option>Cuentas de ahorro 110-02-12312(US$)</option>
                </select>
              </div>
            </div>
            <div class="col-md-offset-1 col-md-3">
              <div class="form-group">
                <label for="login-user-code" class="step-label labelTwo">Fecha de extracto mensual</label>
                <select class="select form-select silverSelect" name="login-card-select" id="login-card-select">
                  <option selected="">Agosto-2014</option>
                </select>
              </div>
            </div>
            <div class="col-md-offset-1 col-md-2">
              <button type="button" name="button" class="btn btn-mustard pull-right btnTOP">Siguiente</button>
            </div>
          </div>
          <hr class="hrStyle2">
          <div class="col-xs-12 col-md-12">
            <div class="col-md-12">
              <button type="button" name="button" class="btn btn-mustard pull-right btnTOP2">Descargar</button>
            </div>
          </div>
        </div> -->


        <!-- vista creditos -->
        <!-- <div class="row">
          <div class="col-md-12">
            <div class="col-md-10">
              <h5 class="content-table"><span id="dL" class="ico-atras-1x"> </span>  Créditos</h5>
            </div>
            <div class="col-md-2 icons-details">
              <a id="imprimir"><span href="#" class="ic_impresion ico"> </span>   Imprimir</a>
            </div>
          </div>
          <hr class="hrStyle2">
          <table class="table table-design" id="tableMTN">
            <thead>
              <tr class="tr-bg">
                <th>Número de créditos</th>
                <th>Descripción</th>
                <th>Monto de desembolso</th>
                <th>Número de cuotas</th>
                <th>Próxima cuotas</th>
                <th>Monto de cuotas</th>
                <th>Detalle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>24-04-1994-123123</td>
                <td>CRÉDITO ADMINISTRATIVO M.N</td>
                <td>S./14.000</td>
                <td>20</td>
                <td>25/03/2017</td>
                <td>S./514.00</td>
                <td><a href="#" class="view_details ico"></a></td>
              </tr>
            </tbody>
          </table>
        </div> -->


        <!-- vista detalle creditos -->
        <!-- <div class="row">
          <div class="col-xs-12 col-md-12">
            <div class="col-xs-12 col-md-12">
              <div class="col-md-8">
                <h5 class="content-table"><span class="ico-atras-1x ico mL16"> </span> Detalle de crédito</h5>
              </div>
              <div class="col-md-4 icons-details">
                <a><span href="#" class="ico_calendario ico"> </span>   Cronograma</a>
                <a id="imprimir"><span href="#" class="ic_impresion ico"> </span>   Imprimir</a>
              </div>
            </div>
            <div class="col-xs-12 col-md-12">
              <h4 class="bgTitle">CRÉDITOS</h4>
            </div>
          </div>

          <div class="col-xs-12 col-md-12" id="ctn-creditos">
            <div class="col-xs-12 col-md-3">
              <p class="silver">Número de crédito</p>
              <p class="silver2">123123-12312</p>
            </div>
            <div class="col-xs-12 col-md-3">
              <p class="silver">Código CCI</p>
              <p class="silver2">123123231231231231</p>
            </div>
            <div class="col-xs-12 col-md-3">
              <p class="silver">Tipo de crédito</p>
              <p class="silver2">CRÉDITO ADMINISTRATIVO M.N</p>
            </div>
            <div class="col-xs-12 col-md-3">
              <p class="silver">Tasa efectiva anual</p>
              <p class="silver2">14.70%</p>
            </div>
          </div>
          <div class="col-xs-12 col-md-12" id="ctn-creditos">
            <div class="col-xs-12 col-md-3">
              <p class="silver">Nombre del cliente</p>
              <p class="silver2">LUIS SUAREZ JUAREZ DUAREZ</p>
            </div>
            <div class="col-xs-12 col-md-3">
              <p class="silver">Tasa costo efectivo</p>
              <p class="silver2">14.70%</p>
            </div>
            <div class="col-xs-12 col-md-3">
              <p class="silver">Monto otorgado</p>
              <p class="silver2">S/.14.000.00</p>
            </div>
            <div class="col-xs-12 col-md-3">
              <p class="silver">Fecha de desembolso</p>
              <p class="silver2">S/.14.000.00</p>
            </div>
          </div>
          <div class="col-xs-12 col-md-12" id="ctn-creditos">
            <div class="col-xs-12 col-md-3">
              <p class="silver">Número de cuotas</p>
              <p class="silver2">20</p>
            </div>
            <div class="col-xs-12 col-md-3">
              <p class="silver">Fecha de vencimiento</p>
              <p class="silver2">12/12/2016</p>
            </div>
            <div class="col-xs-12 col-md-3">
              <p class="silver">N de cuotas a pagar</p>
              <p class="silver2">14</p>
            </div>
            <div class="col-xs-12 col-md-3">
              <p class="silver">Vencimiento próxima cuota</p>
              <p class="silver2">12/12/2016</p>
            </div>
          </div>
          <div class="col-xs-12 col-md-12" id="ctn-creditos">
            <div class="col-xs-12 col-md-3">
              <p class="silver">Importe de cuotas</p>
              <p class="silver2">S/500.00</p>
            </div>
            <div class="col-xs-12 col-md-3">
              <p class="silver">Forma de pago</p>
              <p class="silver2">DÍA FIJO MES</p>
            </div>
            <div class="col-xs-12 col-md-3">
              <p class="silver">Mora</p>
              <p class="silver2">S/0.00</p>
            </div>
            <div class="col-xs-12 col-md-3">
              <p class="silver">Estado</p>
              <p class="silver2">VIGENTE</p>
            </div>
          </div>
          <div class="col-xs-12 col-md-12" id="ctn-creditos">
            <div class="col-xs-12 col-md-3">
              <p class="silver">Gastos</p>
              <p class="silver2">S/0.00</p>
            </div>
            <div class="col-xs-12 col-md-3">
              <p class="silver">ITF</p>
              <p class="silver2">S/0.00</p>
            </div>
            <div class="col-xs-12 col-md-3">
              <p class="silver">Total a la fecha</p>
              <p class="silver2">S/0.00</p>
            </div>
            <div class="col-xs-12 col-md-3">
              <p class="silver">Mora diferída</p>
              <p class="silver2">VIGENTE</p>
            </div>
          </div>
        </div> -->


        <!-- vista cronograma pago -->
        <!-- <div class="col-xs-12 col-md-12">
          <div class="col-xs-12 col-md-12">
            <div class="col-md-8">
              <h5 class="content-table"><span class="ico-atras-1x ico"> </span> Cronograma de pagos</h5>
            </div>
            <div class="col-md-4 icons-details">
              <a><span href="#" class="ic_exportar_excel ico"> </span>   Exportar</a>
              <a id="imprimir"><span href="#" class="ic_impresion ico"> </span>   Imprimir</a>
            </div>
          </div>
          <hr class="hrStyle">
          <div class="col-xs-12 col-md-12">
            <div class="col-xs-12 col-md-3">
              <p class="silver">Número de crédito</p>
              <p class="silver2">123123-12312</p>
            </div>
            <div class="col-xs-12 col-md-3">
              <p class="silver">Tipo de crédito</p>
              <p class="silver2">CRÉDITO ADMINISTRATIVO M.N</p>
            </div>
            <div class="col-xs-12 col-md-3">
              <p class="silver">Tasa costo efectivo</p>
              <p class="silver2">14.70%</p>
            </div>
            <div class="col-xs-12 col-md-3">
              <p class="silver">Código CCI</p>
              <p class="silver2">123123231231231231</p>
            </div>
          </div>
          <div class="col-xs-12 col-md-12" id="ctn-cro">
            <div class="col-xs-12 col-md-3">
              <p class="silver">Tasa efectiva anual</p>
              <p class="silver2">14.70%</p>
            </div>
            <div class="col-xs-12 col-md-3">
              <p class="silver">Tasa de interés moratorio</p>
              <p class="silver2">14.70%</p>
            </div>
            <div class="col-xs-12 col-md-3">
              <p class="silver">Mora</p>
              <p class="silver2">S./0.00</p>
            </div>
            <div class="col-xs-12 col-md-3">
              <div class="col-xs-6 col-md-6">
                <p class="silver">Gastos</p>
                <p class="silver2">S./0.00</p>
              </div>
              <div class="col-xs-6 col-md-6">
                <p class="silver">Nro. de cuotas </p>
                <p class="silver2">18</p>
              </div>
            </div>
          </div>
          <hr class="hrStyle">
          <div class="col-xs-12 col-md-12">
            <div class="col-xs-12 col-md-8">
              <h5 class="mustard">CUOTAS</h5>
            </div>
            <div class="col-xs-12 col-md-4">
              <ul class="pagination">
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
              </ul>
              <ul class="pagination pagTwo">
                <li><a href="#" class="btnPaginate"> < </a></li>
                <li><a href="#" class="btnPaginate"> > </a></li>
              </ul>
            </div>
          </div>
          <div class="col-xs-12 col-md-12">
            <br>
            <table class="table table-design">
              <thead>
                <tr class="tr-bg">
                  <th>Nº de cuotas</th>
                  <th>Fecha de nacimiento</th>
                  <th>Amortización</th>
                  <th>Interés</th>
                  <th>Seguro</th>
                  <th>ITF</th>
                  <th>Importe de cuotas(*)</th>
                  <th>Días de mora</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>01</td>
                  <td>24-04-1994</td>
                  <td>S./4000.00</td>
                  <td>S./4000.00</td>
                  <td>S./0.00</td>
                  <td>S./0.00</td>
                  <td>S./514.00</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>01</td>
                  <td>24-04-1994</td>
                  <td>S./4000.00</td>
                  <td>S./4000.00</td>
                  <td>S./0.00</td>
                  <td>S./0.00</td>
                  <td>S./514.00</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>01</td>
                  <td>24-04-1994</td>
                  <td>S./4000.00</td>
                  <td>S./4000.00</td>
                  <td>S./0.00</td>
                  <td>S./0.00</td>
                  <td>S./514.00</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>01</td>
                  <td>24-04-1994</td>
                  <td>S./4000.00</td>
                  <td>S./4000.00</td>
                  <td>S./0.00</td>
                  <td>S./0.00</td>
                  <td>S./514.00</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>01</td>
                  <td>24-04-1994</td>
                  <td>S./4000.00</td>
                  <td>S./4000.00</td>
                  <td>S./0.00</td>
                  <td>S./0.00</td>
                  <td>S./514.00</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>01</td>
                  <td>24-04-1994</td>
                  <td>S./4000.00</td>
                  <td>S./4000.00</td>
                  <td>S./0.00</td>
                  <td>S./0.00</td>
                  <td>S./514.00</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>01</td>
                  <td>24-04-1994</td>
                  <td>S./4000.00</td>
                  <td>S./4000.00</td>
                  <td>S./0.00</td>
                  <td>S./0.00</td>
                  <td>S./514.00</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>01</td>
                  <td>24-04-1994</td>
                  <td>S./4000.00</td>
                  <td>S./4000.00</td>
                  <td>S./0.00</td>
                  <td>S./0.00</td>
                  <td>S./514.00</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>01</td>
                  <td>24-04-1994</td>
                  <td>S./4000.00</td>
                  <td>S./4000.00</td>
                  <td>S./0.00</td>
                  <td>S./0.00</td>
                  <td>S./514.00</td>
                  <td>0</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div> -->


        <!-- detalle de cuenta cts -->
        <!-- <div class="row">
          <div class="col-xs-12 col-md-12">
            <div class="col-xs-12 col-md-12">
              <div class="col-md-10">
                <h5 class="content-table"><span class="ico-atras-1x ico mL16"> </span> Detalle de cuenta</h5>
              </div>
              <div class="col-md-2 icons-details">
                <a id="imprimir"><span href="#" class="ic_impresion ico"> </span>   Imprimir</a>
              </div>
            </div>
            <div class="col-xs-12 col-md-12">
              <h5 class="bgTitle">CTS</h5>
            </div>
          </div>

          <div class="col-xs-12 col-md-12" id="ctn-creditos">
            <div class="col-xs-12 col-md-3">
              <p class="silver">Número de cuenta</p>
              <p class="silver2">123123-12312</p>
            </div>
            <div class="col-xs-12 col-md-3">
              <p class="silver">Nombre de la cuenta</p>
              <p class="silver2">CUENTA CTS M.N</p>
            </div>
            <div class="col-xs-12 col-md-3">
              <p class="silver">Tipo de cuenta</p>
              <p class="silver2">AHORRO A PLAZO FIJO M.N</p>
            </div>
            <div class="col-xs-12 col-md-3">
              <p class="silver">Nombre del cliente</p>
              <p class="silver2">AMAYO QUIROZ LIDLIA DEL ROSADO</p>
            </div>
          </div>

          <table class="table table-design" id="tableMTN">
            <thead>
              <tr class="tr-bg">
                <th>Monto de capital</th>
                <th>Fecha de apertura</th>
                <th>Ínteres disponible</th>
                <th>Fecha Vcto.</th>
                <th>Fecha de última op.</th>
                <th>Mod. pago ínteres</th>
                <th>Plazo(días)</th>
                <th>Tasa int(TEA)</th>
                <th>Movimientos</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>S/.14.000</td>
                <td>14/12/2131</td>
                <td>S/.2.14</td>
                <td>14/12/2131</td>
                <td>14/12/2131</td>
                <td>CAPITALIZABLE AL VENCIMIENTO</td>
                <td>360</td>
                <td>2.50%</td>
                <td><a href="#" class="view_details ico"></a></td>
              </tr>
            </tbody>
          </table>
        </div> -->


        <!-- detalle de orden pago -->
        <!-- <div class="row" id="printView">
          <div class="col-md-12">
            <div class="col-md-10">
              <h5 class="content-table"><span id="dL" class="ico-atras-1x ico"> </span>  Detalle de la cuenta</h5>
            </div>
            <div class="col-md-2 icons-details">
              <a id="imprimir"><span href="#" class="ic_impresion ico"> </span>   Imprimir</a>
            </div>
          </div>
          <div class="col-md-12">
            <h5 class="bgTitle">ÓRDENES DE PAGO</h5>
          </div>
          <div class="col-md-12 detailAhorro_corriente">
            <div class="col-md-12">
              <br>
              <div class="col-md-3">
                <p class="silver">Número de cuenta</p>
                <p class="silver2">20-123-122112</p>
              </div>
              <div class="col-md-3">
                <p class="silver">Código CCI</p>
                <p class="silver2">1231132123910283</p>
              </div>
              <div class="col-md-3">
                <p class="silver">Tipo de cuenta</p>
                <p class="silver2">AHORRO M.N</p>
              </div>
              <div class="col-md-3">
                <p class="silver">Nombre del cliente</p>
                <p class="silver2">MORALES SALDARRIAGA ALDAIR</p>
              </div>
            </div>
          </div>
          <table class="table">
            <thead>
              <tr class="tr-bg">
                <th>Saldo disponible</th>
                <th>Saldo contable</th>
                <th>Tasa int.(TEA)</th>
                <th>Fecha de apertura</th>
                <th>Movimientos</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1,146.76</td>
                <td>1,146.76</td>
                <td>0.25%</td>
                <td>02-05-2016</td>
                <td><a href="#" class="view_details ico"></a></td>
              </tr>
            </tbody>
          </table>
        </div> -->



        <!-- detalle de cuenta  -->
        <!-- <div class="row" id="printView">
          <div class="col-md-12">
            <div class="col-md-10">
              <h5 class="content-table"><span id="dL" class="ico-atras-1x ico"> </span>  Detalle de la cuenta</h5>
            </div>
            <div class="col-md-2 icons-details">
              <a id="imprimir"><span href="#" class="ic_impresion ico"> </span>   Imprimir</a>

            </div>
          </div>
          <div class="col-md-12">
            <h4 class="bgTitle">AHORRO CORRIENTE</h4>
          </div>
          <div class="col-md-12 detailAhorro_corriente">
            <div class="col-md-12">
              <br>
              <div class="col-md-3">
                <p class="silver">Número de cuenta</p>
                <p class="silver2">20-123-122112</p>
              </div>
              <div class="col-md-3">
                <p class="silver">Código CCI</p>
                <p class="silver2">1231132123910283</p>
              </div>
              <div class="col-md-3">
                <p class="silver">Tipo de cuenta</p>
                <p class="silver2">AHORRO M.N</p>
              </div>
              <div class="col-md-3">
                <p class="silver">Nombre del cliente</p>
                <p class="silver2">SALDARRIAGA JARA ROBERT</p>
              </div>
            </div>
          </div>
          <table class="table">
            <thead>
              <tr class="tr-bg">
                <th>Saldo disponible</th>
                <th>Saldo contable</th>
                <th>Tasa int.(TEA)</th>
                <th>Fecha de apertura</th>
                <th>Movimientos</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1,146.76</td>
                <td>1,146.76</td>
                <td>0.25%</td>
                <td>02-05-2016</td>
                <td><a href="#" class="view_details ico"></a></td>
              </tr>
            </tbody>
          </table>
        </div> -->

        <div class="SaldoMovimiento hidden-xs hidde-sm">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-md-10">
              <h5 class="content-table">Ahorro corriente</h5>
            </div>
            <div class="col-md-2 icons-details">
              <a id="imprimir"><span href="#" class="ic_impresion ico"> </span>   Imprimir</a>
            </div>
          </div>
          <hr class="hrStyle">
            <table class="table table-design" id="tableMTN">
              <thead>
                <tr class="tr-bg">
                  <th>Nº cuenta</th>
                  <th>Moneda</th>
                  <th>Saldo contable</th>
                  <th>Saldo disponible</th>
                  <th class="text-center">Detalles</th>
                  <th class="text-center">Movimientos</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>210-01-8944730</td>
                  <td>S./</td>
                  <td>11,354.4</td>
                  <td>23,128.4</td>
                  <td class="text-center"><a href="?consultas_ahorro_corriente" class="view_details ico"></a></td>
                  <td class="text-center"><a href="?consultas_ahorro_corriente" class="view_details ico"></a></td>
                </tr>
                <tr>
                  <td>210-01-8944730</td>
                  <td>S./</td>
                  <td>11,354.4</td>
                  <td>23,128.4</td>
                  <td class="text-center"><a class="view_details ico"></a></td>
                  <td class="text-center"><a class="view_details ico"></a></td>
                </tr>
              </tbody>
            </table>
            <h5 class="content-table">Órdenes de pago</h5>
            <table class="table table-design">
              <thead>
                <tr class="tr-bg">
                  <th>Nº cuenta</th>
                  <th>Moneda</th>
                  <th>Saldo disponible</th>
                  <th class="text-center">Detalles</th>
                  <th class="text-center">Movimiento</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>210-01-8944730</td>
                  <td class="wTD">S./</td>
                  <td>11,354.4</td>
                  <td class="text-center"><a href="?consultas_orden_pago" class="view_details ico"></a></td>
                  <td class="text-center"><a class="view_details ico"></a></td>
                </tr>
                <tr>
                  <td>210-01-8944730</td>
                  <td class="wTD">S./</td>
                  <td>11,354.4</td>
                  <td class="text-center"><a class="view_details ico"></a></td>
                  <td class="text-center"><a class="view_details ico"></a></td>
                </tr>
              </tbody>
            </table>
            <h5 class="content-table">Plazo fijo</h5>
            <table class="table table-design">
              <thead>
                <tr class="tr-bg">
                  <th>Nº cuenta</th>
                  <th>Moneda</th>
                  <th>Saldo contable</th>
                  <th>Saldo disponible</th>
                  <th class="text-center">Detalles</th>
                  <th class="text-center">Movimientos</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>210-01-8944730</td>
                  <td>S./</td>
                  <td>11,354.4</td>
                  <td>23,128.4</td>
                  <td class="text-center"><a class="view_details ico"></a></td>
                  <td class="text-center"><a class="view_details ico"></a></td>
                </tr>
                <tr>
                  <td>210-01-8944730</td>
                  <td>S./</td>
                  <td>11,354.4</td>
                  <td>23,128.4</td>
                  <td class="text-center"><a class="view_details ico"></a></td>
                  <td class="text-center"><a class="view_details ico"></a></td>
                </tr>
              </tbody>
            </table>
            <h5 class="content-table">CTS</h5>
            <table class="table table-design">
              <thead>
                <tr class="tr-bg">
                  <th>Nº cuenta</th>
                  <th>Moneda</th>
                  <th>Saldo disponible</th>
                  <th class="text-center">Detalles</th>
                  <th class="text-center">Movimiento</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>210-01-8944730</td>
                  <td class="wTD">S./</td>
                  <td>11,354.4</td>
                  <td class="text-center"><a class="view_details ico"></a></td>
                  <td class="text-center"><a class="view_details ico"></a></td>
                </tr>
                <tr>
                  <td>210-01-8944730</td>
                  <td class="wTD">S./</td>
                  <td>11,354.4</td>
                  <td class="text-center"><a class="view_details ico"></a></td>
                  <td class="text-center"><a class="view_details ico"></a></td>
                </tr>
              </tbody>
            </table>
        </div>


        <!-- informacion de saldo y moviemientos en MOVIL -->
        <!-- <div class="row visible-xs mb hidden">
          <h5 class="content-table">Ahorro corriente</h5><br>
          <div class="">
            <span id="movilText" class="gray2">Nº Cuenta</span>
          </div><br>
          <p class="textDesingMovil">210-01-8944730 <a class="click-showDetails pull-right"> > </a></p>
          <p class="textDesingMovil">210-01-8944730	<a class="click-showDetails pull-right"> > </a></p>
        </div> -->

        <!-- <div class="row hidden-sm hidden-md hidden-lg showDetailsNumber_mobil hidden">
          <h5 class="content-table"><span id="click-backDetails"> < </span> 210-01-8944730 </h5>
          <div class=""><br>
            <p id="movilText" class="gray2">DETALLE DE CUENTA</p>
            <p id="movilText" class="gray2">Moneda <span class="pull-right">Soles</span></p>
            <p id="movilText" class="gray2">Saldo contable <span class="pull-right">1,123.22</span></p>
            <p id="movilText" class="gray2">Saldo disponible <span class="pull-right">1,123.22</span></p>
            <p id="movilText" class="gray2">Detalle <span href="?consultas_ahorro_corriente" class="pull-right view_details ico"></span></p>
            <p id="movilText" class="gray2">Movimientos <span href="" class="pull-right view_details ico"></span></p>
          </div>
        </div> -->
      </div>




      <!-- OPERACIONES -->
      <div class="content-info hidden" id="operacion">
        <p>
          operaciones
        </p>
      </div>




      <!-- SOLICITUDES -->
      <div class="content-info hidden" id="solicitud">
        <!-- Consulta de solicitudes  -->
        <!-- <div class="row">
          <div class="col-md-12">
            <div class="col-md-10">
              <h5 class="content-table"><span id="dL" class="ico-atras-1x"> </span> Consulta de Solicitudes</h5>
            </div>
            <div class="col-md-2 icons-details">
              <a><span href="#" class="ic_impresion ico"> </span>   Imprimir</a>
            </div>
          </div>
          <hr class="hrStyle2">
          <div class="col-xs-12 col-md-4 pull-right">
            <ul class="pagination">
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
            </ul>
            <ul class="pagination pagTwo">
              <li><a href="#" class="btnPaginate"> < </a></li>
              <li><a href="#" class="btnPaginate"> > </a></li>
            </ul>
          </div>
          <br>
          <table class="table table-design" id="tableMT">
            <thead>
              <tr class="tr-bg">
                <th>Número de solicitudes</th>
                <th>Estado</th>
                <th class="text-center">Detalle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>09890898908</td>
                <td>Aceptada</td>
                <td class="text-center"><a href="#" class="view_details ico"></a></td>
              </tr>
              <tr>
                <td>09890898908</td>
                <td>Aceptada</td>
                <td class="text-center"><a href="#" class="view_details ico"></a></td>
              </tr>
              <tr>
                <td>09890898908</td>
                <td>Aceptada</td>
                <td class="text-center"><a href="#" class="view_details ico"></a></td>
              </tr>
              <tr>
                <td>09890898908</td>
                <td>Aceptada</td>
                <td class="text-center"><a href="#" class="view_details ico"></a></td>
              </tr>
            </tbody>
          </table>
        </div> -->

        <!--  detallde solicitud -->
        <!-- <div class="row">
          <div class="col-md-12">
            <div class="col-md-10">
              <h5 class="content-table"><span id="dL" class="ico-atras-1x"> </span> Detalle de solicitud</h5>
            </div>
            <div class="col-md-2 icons-details">
              <a><span href="#" class="ic_impresion ico"> </span>   Imprimir</a>
            </div>
          </div>
          <hr class="hrStyle2">
          <br>
          <div class="col-xs-12 col-sm-12 content-extrSaldo">
            <div class="col-xs-12 col-md-3">
              <p class="silver">N de solicitud</p>
              <p class="silver2">00000000123123</p>
            </div>
            <div class="col-xs-12 col-md-3">
              <p class="silver">Estado de solicitud</p>
              <p class="silver2">Aceptada</p>
            </div>
            <div class="col-xs-12 col-md-3">
              <p class="silver">Fecha de presentación</p>
              <p class="silver2">12/12/1233</p>
            </div>
            <div class="col-xs-12 col-md-3">
              <p class="silver">Titúlar de crédito</p>
              <p class="silver2">Pago de ínteres de un plazo fijo</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 content-extrSaldo">
            <div class="col-xs-12 col-md-3">
              <p class="silver">Fecha de vencimiento</p>
              <p class="silver2">12/12/1233</p>
            </div>
          </div>
        </div> -->
      </div>





      <!-- ADMINISTRACION -->
      <div class="content-info hidden" id="administracion">
        <!-- <h1 class="gray2 content-title">Bienvenido a <br> Caja Piura Internet Personas</h1>
        <p class="gray2 content-text">
          A continuación realice sus operaciones seleccionando las opciones del menú.
        </p> -->
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-8">
              <h5 class="content-table"><span id="dL" class="ico-atras-1x"> </span>  Cambio de clave internet</h5>
            </div>
            <div class="col-md-4 icons-details">
              <a><span href="#" class="ic_exportar_excel ico"> </span>   Exportar</a>
              <a id="imprimir"><span href="#" class="ic_impresion ico"> </span>   Imprimir</a>

            </div>
          </div>
          <div class="col-xs-12 col-md-12">
            <h5 class="bgTitle">INGRESO DE DATOS</h5>
          </div>

          <div class="col-xs-12 col-md-12">
            <div class="col-xs-12 col-md-12 mT">
              <div class="col-xs-12 col-md-4">
                <div class="col-xs-12 col-md-10 panel-step panel-step-3 tecladoBor">
                  <label class="gray2 step-label">Use este teclado virtual</label>
                  <div class="password-keyboard">
                    <button class="btn btn-mustard hover keyboard-btn clean-password">Borrar</button>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-4"><br>
                <h4 class="blue text-center admTextBox">Ingrese los números <br> de la coordenada <br>D3</h4><br>
                <div class="form-group">
                  <label for="coordinates" class="gray2 step-label">Coordenadas de 3 dígitos</label>
                  <input type="password" class="form-control skyblue" name="coordinates" id="coordinates" readonly="true">
                </div>
              </div>
              <div class="col-xs-12 col-md-4">
                <div class="text-center">
                  <button type="button" class="btn btn-plastic btn-plastic-6 hover skyblue cnt1">CAMBIAR CLAVE</button>
                </div>
              </div>
            </div>
          </div>

          <!-- vista 2 para administracion -->
          <!-- <div class="col-xs-12 col-md-12">
            <div class="col-xs-12 col-md-12 mT2">
              <p>Sr(a) Ruth, <br><br> Su clave de internet se ah cambiado correctamente, a partir de ahora debe utilizar esta nueva clave realizar sus operaciones.</p>
            </div>
          </div> -->

          <!-- vista 3 para administracion -->
          <!-- <form class="col-xs-12 col-md-12 panel-steps" id="generate-password-steps" action="" method="">
            <div class="col-xs-12 col-sm-6 col-md-3 panel-stepAdm panel-step-1 no-border" id="keyboard-container">
              <h3 class="blue step-title">Use este teclado</h3>
              <label class="gray2 step-label">Seleccione el campo y digite</label>

              <div class="password-keyboard">
                <button class="btn btn-mustard hover keyboard-btn clean-password">Borrar</button>
              </div>

              <button type="button" class="btn btn-plastic btn-plastic-3 hover btn-keyboard-ok"></button>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 panel-step panel-step-2">
              <span class="step-symbol check-on-1x"></span>
              <h3 class="blue step-title text-center">Clave actual</h3>
              <div class="form-group">
                <label for="generate-password-actual" class="gray2 step-label text-center col-xs-12">La clave es de 4 dígitos</label>
                <input readonly="true" type="password" name="generate-password-actual" id="generate-password-actual" class="form-control skyblue" data-input="3">
              </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 panel-step panel-step-3">
              <span class="step-symbol check-off-1x"></span>
              <h3 class="blue step-title text-center">Clave nueva</h3>
              <div class="form-group">
                <label for="generate-password-new" class="gray2 step-label text-center col-xs-12">La clave es de 6 dígitos</label>
                <input readonly="true" type="password" name="generate-password-new" id="generate-password-new" class="form-control skyblue">
              </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 panel-step panel-step-4">
              <span class="step-symbol check-off-1x"></span>
              <h3 class="blue step-title text-center">Confirme clave nueva</h3>
              <div class="form-group">
                <label for="generate-password-new-confirm" class="gray2 step-label text-center col-xs-12">La clave es de 6 dígitos</label>
                <input readonly="true" type="password" name="generate-password-new-confirm" id="generate-password-new-confirm" class="form-control skyblue">
              </div>
              <br>
              <button type="button" class="btn btn-plastic hover">Siguiente</button>
            </div>
          </form> -->
        </div>
      </div>
    </div>

    <div class="clearfix">

    </div>
  </section>
</div>
