<div class="small-center">
  <aside class="col-xs-12 inner-top-data">
    <div class="col-md-6 gray2 inner-top-text inner-small div-left">
      <div class="inner-small-blockleft">
        <span>23 de Febrero del 2016 </span> &#32;&#32;
        <span class="inner-small-clock">10:52 AM.</span>
      </div>
      <div class="inner-small-blockright">
        <span>T.C. Dolar: Venta: 3.16</span>
        <span class="inner-small-dolar"> Compra: 3.00</span>
      </div>
    </div>
    <div class="col-md-6 text-right">
      <span class="white inner-top-text second pull-right">
        <img src="images/reloj.gif" class="ico-clock"/>
        <span class="text-responsive550">Su ventana </span><span class="text-responsive-info">se cerrará en</span>
      <b class="mustard">
          <span class="countdown-number">180</span>
          segundos
        </b>
      </span>
    </div>
  </aside>

  <section class="panel section section-welcome">
    <span class="tab-indicator"></span>

    <!-- NUBE DE AYUDA -->
    <aside class="help-cloud">
      <span class="fa fa-times"></span>¿Necesita ayuda?
      <span class="arrow"></span>

      <div class="help-cloud-content scrollbox">
        <div class="content-block">
          <h6 class="skyblue content-title">Servicios</h6>
          <a class="content-link" data-toggle="modal" href="#message-modal">
            <span class="ico ico-vineta-1x"></span>
            <span class="link-text"> Aprende a operar por internet</span>
          </a>
          <a class="content-link" data-toggle="modal" href="#message-modal">
            <span class="ico ico-vineta-1x"></span>
            <span class="link-text">¿Qué operaciones puedo hacer?</span>
          </a>
          <a class="content-link" data-toggle="modal" href="#message-modal">
            <span class="ico ico-vineta-1x"></span>
            <span class="link-text"> Consejos importantes para seguridad</span>
          </a>
        </div>

        <div class="content-block">
          <h6 class="skyblue content-title">Clave de internet</h6>
          <a class="content-link" data-toggle="modal" href="#message-modal">
            <span class="ico ico-vineta-1x"></span>
            <span class="link-text">¿Qué es la clave de internet?</span>
          </a>
          <a class="content-link" data-toggle="modal" href="#message-modal">
            <span class="ico ico-vineta-1x"></span>
            <span class="link-text">¿Cómo afilio mi tarjeta Piura Cash a la clave internet (6 dígitos)?</span>
          </a>
          <a class="content-link" data-toggle="modal" href="#message-modal">
            <span class="ico ico-vineta-1x"></span>
            <span class="link-text">¿Olvidaste tu clave de internet?</span>
          </a>
          <a class="content-link" data-toggle="modal" href="#message-modal">
            <span class="ico ico-vineta-1x"></span>
            <span class="link-text">¿Cómo cambiar tu clave de internet?</span>
          </a>
        </div>

        <div class="content-block">
          <h6 class="skyblue content-title">Tarjeta de Coordenadas</h6>
          <a class="content-link" data-toggle="modal" href="#message-modal">
            <span class="ico ico-vineta-1x"></span>
            <span class="link-text">¿Qué es la tarjeta de coordenadas y  como funciona?</span>
          </a>
          <a class="content-link" data-toggle="modal" href="#message-modal">
            <span class="ico ico-vineta-1x"></span>
            <span class="link-text">Para tener en cuenta</span>
          </a>
          <a class="content-link" data-toggle="modal" href="#message-modal">
            <span class="ico ico-vineta-1x"></span>
            <span class="link-text">¿Qué hacer en caso de pérdida o robo de su tarjeta de coordenadas?</span>
          </a>
        </div>

        <div class="content-block">
          <h6 class="skyblue content-title">Clave SMS</h6>
          <a class="content-link" data-toggle="modal" href="#message-modal">
            <span class="ico ico-vineta-1x"></span>
            <span class="link-text">¿Qué es Clave SMS?</span>
          </a>
          <a class="content-link" data-toggle="modal" href="#message-modal">
            <span class="ico ico-vineta-1x"></span>
            <span class="link-text">¿Cómo funciona?</span>
          </a>
          <a class="content-link" data-toggle="modal" href="#message-modal">
            <span class="ico ico-vineta-1x"></span>
            <span class="link-text">¿Con qué operadores telefónicos tiene convenio Caja Piura para el envío de la Clave SMS?</span>
          </a>
        </div>

      </div>
    </aside>


    <div class="content-menu content-companies">
      <!-- BTN PARA ABRIR MENU -->
      <div class="menu-title">
        <span class="fa fa-bars white"></span>
        <span class="white text-uppercase">Menú</span>
      </div>

      <!-- LISTA DEL MENU -->
      <div class="menu-groups">
        <div class="menu-group active first">
          <button type="button" class="btn hover text-uppercase menu-group-btn active first-btn">
            Consultas
            <div class="x_tab_celeste"></div>
            <span class="fa fa-chevron-up"></span>
          </button>

          <div class="visible-md visible-lg menuEmpresas">
            <span class="fa fa-bars white"></span>
          </div>

          <!-- menu movil -->
          <div class="menu-group-content visible-xs visible-sm">
            <a href="#" >Saldo y movimiento</a>
            <a href="#" >Extractos de cuenta órdenes de pago</a>
            <a href="#" >Extractos cuenta diaria órdenes de pago</a>
            <a href="#" >Créditos y líneas</a>
          </div>
        </div>

        <div class="menu-group">
          <button type="button" class="btn hover text-uppercase menu-group-btn second-btn">
            Operaciones
            <div class="x_tab_celeste hidden"></div>
            <span class="fa fa-chevron-down"></span>
          </button>
          <div class="menu-group-content visible-xs visible-sm">
            <a href="#">Pago de créditos y líneas</a>
            <a href="#">Apertura de plazo fijo</a>
            <a href="#">Incremento de plazo fijo</a>
            <a href="#">Pago de servicios</a>
            <a href="#">Pago de planilla</a>
            <a href="#">Consulta de planillas</a>
          </div>
        </div>

        <div class="menu-group">
          <button type="button" class="btn hover text-uppercase menu-group-btn third-btn">
            Solicitudes
            <div class="x_tab_celeste hidden"></div>
            <span class="fa fa-chevron-down"></span>
          </button>
          <div class="menu-group-content visible-xs visible-sm">
            <a href="#">Consulta de solicitudes</a>
            <a href="#">Plazos fijos</a>
          </div>
        </div>

        <div class="menu-group">
          <button type="button" class="btn hover text-uppercase menu-group-btn fourth-btn">
            Administración
            <div class="x_tab_celeste hidden"></div>
            <span class="fa fa-chevron-down"></span>
          </button>
          <div class="menu-group-content visible-xs visible-sm">
            <a href="#">Cambie su clave</a>
            <a href="#">Buzón de mensajes</a>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-body">
      <h1 class="gray2 content-title text-center">Bienvenido a <br> Caja Piura Internet Empresas</h1>
      <p class="gray2 content-text text-center">
        A continuación realice sus operaciones seleccionando las opciones del menú.
      </p>
    </div>

    <div class="clearfix">

    </div>
  </section>
</div>
