<div class="medium-center">
  <section class="panel section section-password-created">
    <!--======== PANEL HEADING ========-->
    <header class="panel-heading">
      <h1 class="text-uppercase white pull-left">Caja Piura Internet Empresas</h1>
      <aside class="panel-heading-aside pull-right">
        <img src="images/reloj.gif" class="ico-clock" />
        <span class="white">Su ventana se cerrará en
        </span>
        <b class="mustard"><span class="countdown-number">45</span> segundos.</b>
      </aside>
    </header>

    <div class="panel-body">
      <div class="col-xs-12 body-top">
        <div class="col-xs-12">
          <h2 class="blue">
            <span class="ico ico-atras-1x"></span>
            Genera tu clave de internetde 6 dígitos
          </h2>
          <p class="blue">
            Sigue los pasos que aparecen a continuación y haz click en el botón
            <strong>"crear clave"</strong>
          </p>
        </div>
      </div>

      <p class="gray2 text-center second-text">
        Sr(a). Sandra Aquino
        <br><br>
        Su clave de internet se ha creado correctamente, a partir de ahora podrá realizar sus operaciones por internet de forma segura.
      </p>

      <button type="button" class="btn btn-plastic btn-plastic-5 hover">Aceptar</button>
    </div>
  </section>
</div>

<script>
  $(document).ready(function () {
    setTimeout(function() {
      $('#new-password').click();
    }, 1000);
  });
</script>
