<div class="small-center">

  <section class="panel section section-generate-password">
    <!--======== PANEL HEADING ========-->
    <header class="panel-heading">
      <h1 class="text-uppercase white pull-left">Caja Piura Internet Empresas</h1>
      <aside class="panel-heading-aside pull-right">
        <img src="images/reloj.gif" class="ico-clock" />
        <span class="white">Su ventana se cerrará en
        </span>
        <b class="mustard"><span class="countdown-number">45</span> segundos.</b>
      </aside>
    </header>

    <aside class="help-cloud">
      <span class="fa fa-times"></span>
      ¿Necesita ayuda?
      <span class="arrow"></span>

      <div class="help-cloud-content scrollbox">
        <div class="content-block">
          <h6 class="skyblue content-title">Servicios</h6>
          <a class="content-link" data-toggle="modal" href="#message-modal">
            <span class="ico ico-vineta-1x"></span>
            Aprende a operar por internet
          </a>
          <a class="content-link" data-toggle="modal" href="#message-modal">
            <span class="ico ico-vineta-1x"></span>
            ¿Qué operaciones puedo hacer?
          </a>
          <a class="content-link" data-toggle="modal" href="#message-modal">
            <span class="ico ico-vineta-1x"></span>
            Consejos importantes para seguridad
          </a>
        </div>

        <div class="content-block">
          <h6 class="skyblue content-title">Clave de internet</h6>
          <a class="content-link" data-toggle="modal" href="#message-modal">
            <span class="ico ico-vineta-1x"></span>
            <span class="link-text">¿Qué es la clave de internet?</span>
          </a>
          <a class="content-link" data-toggle="modal" href="#message-modal">
            <span class="ico ico-vineta-1x"></span>
            <span class="link-text">¿Cómo afilio mi tarjeta Piura Cash a la clave internet</span> (6 dígitos)?
          </a>
          <a class="content-link" data-toggle="modal" href="#message-modal">
            <span class="ico ico-vineta-1x"></span>
            <span class="link-text">¿Olvidaste tu clave de internet?</span>
          </a>
          <a class="content-link" data-toggle="modal" href="#message-modal">
            <span class="ico ico-vineta-1x"></span>
            <span class="link-text">¿Cómo cambiar tu clave de internet?</span>
          </a>
        </div>
      </div>
    </aside>

    <!--======== PANEL BODY ========-->
    <div class="panel-body">
      <div class="col-xs-12 body-top">
        <div class="col-xs-12 col-sm-6 col-lg-9">
          <h2 class="blue">
            <span class="ico ico-atras-1x"></span>
            Genera tu clave de internet
          </h2>
          <p class="blue">
            Sigue los pasos que aparecen a continuación y haz click en el botón
            <strong>"siguiente"</strong>
          </p>
        </div>

      </div>

      <!--======== PANEL STEPS ========-->
      <form class="col-xs-12 panel-steps" id="generate-password-steps" action="" method="">
        <div class="col-xs-12 col-sm-6 col-md-3 panel-step panel-step-1 no-border" id="keyboard-container">
          <h3 class="blue step-title">Use este teclado</h3>
          <label class="gray2 step-label">Seleccione el campo y digite</label>

          <div class="password-keyboard">
            <button class="btn btn-mustard hover keyboard-btn clean-password">Borrar</button>
          </div>

          <button type="button" class="btn btn-plastic btn-plastic-3 hover btn-keyboard-ok"></button>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 panel-step panel-step-2">
          <span class="step-symbol check-on-1x"></span>
          <h3 class="blue step-title text-center">Clave actual</h3>
          <div class="form-group">
            <label for="generate-password-actual" class="gray2 step-label text-center col-xs-12">La clave es de 4 dígitos</label>
            <input readonly="true" type="password" name="generate-password-actual" id="generate-password-actual" class="form-control skyblue" data-input="3">
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 panel-step panel-step-3">
          <span class="step-symbol check-off-1x"></span>
          <h3 class="blue step-title text-center">Clave nueva</h3>
          <div class="form-group">
            <label for="generate-password-new" class="gray2 step-label text-center col-xs-12">La clave es de 6 dígitos</label>
            <input readonly="true" type="password" name="generate-password-new" id="generate-password-new" class="form-control skyblue">
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 panel-step panel-step-4">
          <span class="step-symbol check-off-1x"></span>
          <h3 class="blue step-title text-center">Confirme clave nueva</h3>
          <div class="form-group">
            <label for="generate-password-new-confirm" class="gray2 step-label text-center col-xs-12">La clave es de 6 dígitos</label>
            <input readonly="true" type="password" name="generate-password-new-confirm" id="generate-password-new-confirm" class="form-control skyblue">
          </div>
          <br>
          <button type="button" class="btn btn-plastic hover">Siguiente</button>
        </div>

      </form>
    </div>
  </section>

</div>



<!---///////////// MESSAGE MODAL ////////////-->
<div class="modal fade small-modal" id="message-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content panel-modal">
      <div class="modal-header panel-heading">
        <button type="button" class="close fa fa-times" data-dismiss="modal"></button>
        <h1 class="col-xs-9 mustard">Políticas de Seguridad</h1>
      </div>
      <div class="modal-body ">
        <p class="blue">
          Protección de la navegación: <br>
          Al conectarse a internet es conveniente que, además de cuidar los aspectos básicos de protección de su PC, es importante que se tenga en cuenta unas cuantas medidas de prudencia para poder realizar una navegación más segura:
        </p>
        <br>
        <ul class="blue modal-list">
          <li>
            Utilizar versiones actualizadas de los navegadores.
          </li>
          <li>
            Navegar por sitios web conocidos.
          </li>
          <li>
            No dejar desatendidos los ordenadores mientras estén conectados.
          </li>
          <li>
            No aceptar la ejecución de programas cuyo download se active de forma no solicitada.
          </li>
          <li>
            Conocer la existencia de hoaxes (virus engañosos).
          </li>
        </ul>
        <img class="modal-foot" src="images/1X_popup_tip_seguridad.png" alt="" />
      </div>
    </div>
  </div>
</div>
