<div class="small-center">

  <section class="panel section section-enter-coordinates">
    <!--======== PANEL HEADING ========-->
    <header class="panel-heading">
      <h1 class="text-uppercase white pull-left">Caja Piura Internet Empresas</h1>
      <aside class="panel-heading-aside pull-right">
        <img src="images/reloj.gif" class="ico-clock" />
        <span class="white">Su ventana se cerrará en
        </span>
        <b class="mustard"><span class="countdown-number">45</span> segundos.</b>
      </aside>
    </header>


    <!--======== PANEL BODY ========-->
    <div class="panel-body">
      <div class="col-xs-12 body-top">
        <div class="col-xs-12 col-sm-9 col-lg-9">
          <h2 class="blue">
            <span class="ico ico-atras-1x"></span>
            Ingreso de clave SMS
          </h2>
        </div>

        <div class="col-xs-12 col-sm-3 col-lg-3">
          <span class="gray2 welcome-text">Bienvenido(a), Sandra Aquino</span>
        </div>
      </div>

      <!--======== PANEL STEPS ========-->
      <form class="col-xs-12 panel-steps" id="coordinates-steps" action="" method="">

        <div class="col-xs-12 col-md-9 coordinates-table clave-sms panel-step panel-step-0">

          <img src="images/cel_clave_sms.png" class="pull-left" alt="Tabla de coordenadas"/>

          <div class="table-help-info pull-right">
            <div class="col-xs-12 col-sm-12">
              <h2 class="blue">Clave SMS</h2>
              <br>
              <p class="white">
                Se le enviara una clave de 6 digitos a su móvil, la cual deberá ser ingresado haciendo uso del teclado virtual
              </p>
            </div>
          </div>
          <span class="ico ico-amarillo-cloud"></span>
        </div>

        <div class="col-xs-12 col-md-3 panel-step panel-step-1 no-border" >
          <h3 class="blue step-title">Ingrese la clave SMS</h3>
          <span class="clearfix"></span>

          <div class="messageSMS">
            <p class="silver">
              Recuerde que su clave <br> SMS dura 3.0 minutos y <br> soló es válida para esta <br> operación.
            </p>
          </div>

          <div class="form-group">
            <label for="coordinates" class="gray2 step-label">Clave SMS es de 8 carácteres</label>
            <input type="password" class="form-control skyblue" name="coordinates" id="coordinates">
          </div>

          <button type="button" class="btn btn-plastic btn-plastic-6 hover">Ingresar</button>
        </div>

      </form>
    </div>
  </section>

</div>



<!---///////////// MESSAGE MODAL ////////////-->
<div class="modal fade small-modal" id="message-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content panel-modal">
      <div class="modal-header panel-heading">
        <button type="button" class="close fa fa-times" data-dismiss="modal"></button>
        <h1 class="col-xs-9 mustard">Políticas de Seguridad</h1>
      </div>
      <div class="modal-body ">
        <p class="blue">
          Protección de la navegación: <br>
          Al conectarse a internet es conveniente que, además de cuidar los aspectos básicos de protección de su PC, es importante que se tenga en cuenta unas cuantas medidas de prudencia para poder realizar una navegación más segura:
        </p>
        <br>
        <ul class="blue modal-list">
          <li>
            Utilizar versiones actualizadas de los navegadores.
          </li>
          <li>
            Navegar por sitios web conocidos.
          </li>
          <li>
            No dejar desatendidos los ordenadores mientras estén conectados.
          </li>
          <li>
            No aceptar la ejecución de programas cuyo download se active de forma no solicitada.
          </li>
          <li>
            Conocer la existencia de hoaxes (virus engañosos).
          </li>
        </ul>
        <img class="modal-foot" src="images/1X_popup_tip_seguridad.png" alt="" />
      </div>
    </div>
  </div>
</div>


<script>
  $(document).ready(function () {
    setTimeout(function() {
      $('#coordinates').click();
    }, 1000);
  });
</script>
