<div class="small-center">

  <section class="panel section section-enter-coordinates">
    <!--======== PANEL HEADING ========-->
    <header class="panel-heading">
      <h1 class="text-uppercase white pull-left">Caja Piura Internet Empresas</h1>
      <aside class="panel-heading-aside pull-right">
        <img src="images/reloj.gif" class="ico-clock" />
        <span class="white">Su ventana se cerrará en
        </span>
        <b class="mustard"><span class="countdown-number">45</span> segundos.</b>
      </aside>
    </header>


    <!--======== PANEL BODY ========-->
    <div class="panel-body">
      <div class="col-xs-12 body-top">
        <div class="col-xs-12 col-sm-9 col-lg-9">
          <h2 class="blue">
            <span class="ico ico-atras-1x"></span>
            Ingreso de coordenadas
          </h2>
        </div>

        <div class="col-xs-12 col-sm-3 col-lg-3 hidden">
          <span class="gray2 welcome-text">Bienvenido(a) Alejandra Aquino</span>
        </div>
        <div class="col-xs-12 col-sm-3 col-lg-3">
          <b class="blue visible-xs visible-sm">
            Sigue los pasos que aparecen a <br> continuación y haz click en el botón <br>"siguiente"
          </b>
          <b class="hidden-xs hidde-sm blueTxt">
            Sigue los pasos que aparecen a <br> continuación y haz click en el botón <br>"siguiente"
          </b>
        </div>
      </div>

      <!--======== PANEL STEPS ========-->
      <form class="col-xs-12 panel-steps" id="coordinates-steps" action="" method="">

        <div class="col-xs-12 col-md-9 coordinates-table panel-step panel-step-0">
          <h3 class="mustard">¿Cómo usar la tarjeta de coordenadas?</h3>

          <p class="white info-text">
            Para acceder a Caja Piura Internet y para autorizar sus operaciones primero deberá ingresar su clave secreta de 06 dígitos y luego la coordenada que se le solicite.
          </p>


          <img src="images/tabla-coordenadas.png" width="301px" height="188px" class="pull-left" alt="Tabla de coordenadas"/>

          <div class="table-help-info pull-left">
            <div class="col-xs-6 col-sm-12">
              <b class="mustard">Por ejemplo:</b>
              <p class="white">
                Ingrese los números de la coordenada
              </p>
            </div>

            <span class="col-xs-2 col-sm-4 mustard info-position">E8</span>
            <span class="col-xs-5 col-sm-6 skyblue text-center info-number">758</span>
          </div>
          <span class="ico ico-blue-cloud"></span>
        </div>

        <div class="col-xs-12 col-md-3 panel-step panel-step-1 no-border" >
          <h3 class="blue step-title">Ingrese los números de la coordenada</h3>
          <b class="blue bold-num col-xs-12">F6</b>
          <span class="clearfix"></span>
          <label class="gray2 step-label">Use este teclado virtual</label>

          <div class="password-keyboard">
            <button class="btn btn-mustard hover keyboard-btn clean-password">Borrar</button>
          </div>

          <div class="form-group">
            <label for="coordinates" class="gray2 step-label">Coordenadas de 3 dígitos</label>
            <input type="password" class="form-control skyblue" name="coordinates" id="coordinates" readonly="true">
          </div>

          <button type="button" class="btn btn-plastic btn-plastic-6 hover">Aceptar</button>
        </div>

      </form>
    </div>
  </section>

</div>



<!---///////////// MESSAGE MODAL ////////////-->
<div class="modal fade small-modal" id="message-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content panel-modal">
      <div class="modal-header panel-heading">
        <button type="button" class="close fa fa-times" data-dismiss="modal"></button>
        <h1 class="col-xs-9 mustard">Políticas de Seguridad</h1>
      </div>
      <div class="modal-body ">
        <p class="blue">
          Protección de la navegación: <br>
          Al conectarse a internet es conveniente que, además de cuidar los aspectos básicos de protección de su PC, es importante que se tenga en cuenta unas cuantas medidas de prudencia para poder realizar una navegación más segura:
        </p>
        <br>
        <ul class="blue modal-list">
          <li>
            Utilizar versiones actualizadas de los navegadores.
          </li>
          <li>
            Navegar por sitios web conocidos.
          </li>
          <li>
            No dejar desatendidos los ordenadores mientras estén conectados.
          </li>
          <li>
            No aceptar la ejecución de programas cuyo download se active de forma no solicitada.
          </li>
          <li>
            Conocer la existencia de hoaxes (virus engañosos).
          </li>
        </ul>
        <img class="modal-foot" src="images/1X_popup_tip_seguridad.png" alt="" />
      </div>
    </div>
  </div>
</div>


<script>
  $(document).ready(function () {
    setTimeout(function() {
      $('#coordinates').click();
    }, 1000);
  });
</script>
