<div class="medium-center">
  <section class="panel section section-closing-session">
    <!--======== PANEL HEADING ========-->
    <header class="panel-heading">
      <h1 class="text-uppercase white pull-left">Caja Piura Internet Empresas</h1>
      <aside class="panel-heading-aside pull-right">
        <img src="images/reloj.gif" class="ico-clock" />
        <span class="white">Su ventana se cerrará en
        </span>
        <b class="mustard"><span class="countdown-number">45</span> segundos.</b>
      </aside>
    </header>

    <div class="panel-body">
      <div class="col-xs-12 body-top">
        <div class="col-xs-12">
          <h2 class="blue">
            <span class="ico ico-atras-1x"></span>
            Genera tu clave de internetde 6 dígitos
          </h2>
          <p class="blue">
            Sigue los pasos que aparecen a continuación y haz click en el botón
            <strong>"crear clave"</strong>
          </p>
        </div>
      </div>

      <!--======== PANEL STEPS ========-->
      <form class="col-xs-12 panel-steps panel-2-cols" id="generate-password-steps" action="" method="">
        <div class="col-xs-12 col-sm-6 panel-step panel-step-1 no-border">
          <h3 class="gray2 panel-name">Sr(a). Sandra Aquino</h3>
          <label class="gray2 step-label">Usa este teclado virtual</label>

          <div class="password-keyboard">
            <button class="btn btn-mustard hover keyboard-btn clean-password">Borrar</button>
          </div>

          <button type="button" class="btn-correct2 btn-plastic hover btn-keyboard-ok">Aceptar</button>
        </div>

        <div class="col-xs-12 col-sm-6 panel-step panel-step-2">
          <h3 class="blue text-center extra-text">Ingrese los números de la coordenada <b>F6</b></h3>
          <div class="form-group">
            <label for="generate-password-actual" class="gray2 step-label col-xs-12">Coordenadas de 3 dígitos</label>
            <input type="password" name="generate-password-actual" id="generate-password-actual" class="form-control skyblue" data-input="3" readonly="true">
            <br>
            <button type="button" class="btn-correct2 btn-plastic hover">Crear</button>
          </div>
        </div>
      </form>

    </div>
  </section>
</div>

<script>
  $(document).ready(function () {
    setTimeout(function() {
      $('#generate-password-actual').click();
    }, 1000);
  });
</script>
