<div class="tiny-center">
  <section class="panel section section-closing-session">
    <div class="panel-body">
      <h2 class="blue text-center">Ha finalizado su sesión</h2>

      <p class="blue text-center first-text">
        Gracias por realizar tus operaciones en <br> CAJA PIURA INTERNET
      </p>


      <p class="gray2 text-center second-text">
        Esta página web se cerrará automáticamente en unos 5 segundos.
      </p>
      <span class="gray2 text-center session-countdown">5</span>
    </div>
  </section>
</div>
