<div class="small-center">

  <section class="panel section section-person-login">
    <!--======== PANEL HEADING ========-->
    <header class="panel-heading">
      <h1 class="text-uppercase white pull-left">Caja Piura Internet Personas</h1>
      <aside class="panel-heading-aside pull-right">
        <img src="images/reloj.gif" class="ico-clock" />
        <span class="white">Su ventana se cerrará en
        </span>
        <b class="mustard">
          <span class="countdown-number">45</span>
          segundos.
        </b>
      </aside>
    </header>

    <div class="help-cloud">
      <span class="fa fa-times"></span>
      ¿Necesita ayuda?
      <span class="arrow"></span>

      <div class="help-cloud-content scrollbox">
        <div class="content-block">
          <h6 class="skyblue content-title">Servicios</h6>
          <a class="content-link" data-toggle="modal" href="#message-modal">
            <span class="ico ico-vineta-1x"></span>
            Aprende a operar por internet
          </a>
          <a class="content-link" data-toggle="modal" href="#message-modal">
            <span class="ico ico-vineta-1x"></span>
            ¿Qué operaciones puedo hacer?
          </a>
          <a class="content-link" data-toggle="modal" href="#message-modal">
            <span class="ico ico-vineta-1x"></span>
            Consejos importantes para seguridad
          </a>
        </div>

        <div class="content-block">
          <h6 class="skyblue content-title">Clave de internet</h6>
          <a class="content-link" data-toggle="modal" href="#message-modal">
            <span class="ico ico-vineta-1x"></span>
            <span class="link-text">¿Qué es la clave de internet?</span>
          </a>
          <a class="content-link" data-toggle="modal" href="#message-modal">
            <span class="ico ico-vineta-1x"></span>
            <span class="link-text">¿Cómo afilio mi tarjeta Piura Cash a la clave internet</span> (6 dígitos)?
          </a>
          <a class="content-link" data-toggle="modal" href="#message-modal">
            <span class="ico ico-vineta-1x"></span>
            <span class="link-text">¿Olvidaste tu clave de internet?</span>
          </a>
          <a class="content-link" data-toggle="modal" href="#message-modal">
            <span class="ico ico-vineta-1x"></span>
            <span class="link-text">¿Cómo cambiar tu clave de internet?</span>
          </a>
        </div>
      </div>
    </div>

    <!--======== PANEL BODY ========-->
    <div class="panel-body">
      <div class="col-xs-12 body-top">
        <div class="col-xs-12 col-sm-6 col-lg-9">
          <h2 class="blue">Para ingresar</h2>
          <p class="blue">
            Sigue los pasos que aparecen a continuación y haz click en el botón
            <strong>"siguiente"</strong>
          </p>
        </div>

        <a href="#" class="col-xs-12 col-sm-5 col-lg-3 text-right body-pdf">
          <span class="ico ico-pdf-1x"></span>
          <span class="blue">Aprende a utilizar</span>
        </a>
      </div>

      <!--======== COMPANY LOGIN STEPS ========-->
      <form class="col-xs-12 company-login-steps" id="panel-steps" action="" method="">
        <div class="col-xs-12 col-sm-6 col-md-3 panel-step panel-step-1">
          <img class="step-img step-symbol" src="images/1X_seguridad_calve_internet.png" alt="Símbolo de seguridad"/>
          <p class="gray2 step-text text-center">
            Si es la primera vez que visitas Caja Piura Internet Personas o haz cambiado de tarjeta de Débito Piuta Cash Visa con chip.
          </p>
          <a href="#" class="btn btn-blue hover">Ingrese aquí</a>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 panel-step panel-step-2">
          <span class="step-symbol">01</span>
          <h3 class="blue step-title">Seleccione una tarjeta</h3>
          <label class="gray2 step-label">Desplege el combo y seleccione</label>
          <div class="form-group">
            <select class="select form-control blue" name="login-card-select" id="login-card-select">
              <option selected disabled>Elige una opción</option>
              <option value="debito-piura-cash">Débito Piura Cash</option>
              <option value="credito-piura-cash">Crédito Piura Cash</option>
            </select>

            <label for="login-card-number" class="gray2 step-label">Tarjeta seleccionada</label>
            <div class="form-control skyblue div-select-tarjeta">
              Debito Piura Chash Visa Clásica Chip
            </div>

            <label for="login-card-number" class="gray2 step-label">Ingrese el número de la tarjeta</label>
            <input type="text" name="login-card-number" id="login-card-number" class="form-control skyblue input-number">

          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 panel-step panel-step-3">
          <span class="step-symbol">02</span>
          <h3 class="blue text-center step-title">Ingresa tu clave de internet</h3>
          <label class="gray2 step-label">Use este teclado virtual</label>

          <div class="password-keyboard">
            <button class="btn btn-mustard hover keyboard-btn clean-password">Borrar</button>
          </div>

          <div class="form-group">
            <label for="login-user-password" class="gray2 step-label">La clave es de 6 dígitos</label>
            <input type="password" name="login-user-password" id="login-user-password" class="form-control skyblue input-number" readonly="true">
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 panel-step panel-step-3">
          <span class="step-symbol">03</span>
          <h3 class="blue text-center step-title">Ingresa el texto de la imagen</h3>
          <label class="gray2 step-label">Escriba el texto que aparece</label>
          <input type="text" name="login-user-captcha" id="login-user-captcha" class="form-control skyblue">
          <a href="#" class="step-link">¿Qué es una imagen captcha?</a>
          <button class="btn btn-plastic hover btn-block btn-next">Siguiente</button>
        </div>
      </form>
    </div>
  </section>

</div>

<!---///////////// MESSAGE MODAL ////////////-->
<div class="modal fade small-modal" id="message-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content panel-modal">
      <div class="modal-header panel-heading">
        <button type="button" class="close fa fa-times" data-dismiss="modal"></button>
        <h1 class="col-xs-9 mustard">Políticas de Seguridad</h1>
      </div>
      <div class="modal-body ">
        <p class="blue">
          Protección de la navegación: <br>
          Al conectarse a internet es conveniente que, además de cuidar los aspectos básicos de protección de su PC, es importante que se tenga en cuenta unas cuantas medidas de prudencia para poder realizar una navegación más segura:
        </p>
        <br>
        <ul class="blue modal-list">
          <li>
            Utilizar versiones actualizadas de los navegadores.
          </li>
          <li>
            Navegar por sitios web conocidos.
          </li>
          <li>
            No dejar desatendidos los ordenadores mientras estén conectados.
          </li>
          <li>
            No aceptar la ejecución de programas cuyo download se active de forma no solicitada.
          </li>
          <li>
            Conocer la existencia de hoaxes (virus engañosos).
          </li>
        </ul>
        <img class="modal-foot" src="images/1X_popup_tip_seguridad.png" alt="" />
      </div>
    </div>
  </div>
</div>



<script>

</script>
