// ESTILOS GENERALES, GENERALMENTE SE APLICAN A ETIQUETAS HTML Y NO A CLASES O IDS



html
  font-size 62.5% //10px
  //1rem = 10px
  //1.5rem = 15px

  *
    regular()

main,#outdated
  font-size 1.6rem //16px tamaño estándar



html, body
  width 100%
  height 100%
  position absolute
  left 0
  top 0

main
  width 100%
  min-height 100%
  position relative
  left 0
  top 0
  right 0



//QUITAR PADDING A LOS ESTILOS DE BOOTSTRAP
[class*=col-]
  padding 0


h1
  font-size 3.5rem
h2
  font-size 3rem
h3
  font-size 2.5rem
h4
  font-size 2rem
h5
  font-size 1.6rem
h6
  font-size 1.2rem


h1, h2, h3, h4, h5, h6
  font-weight: normal
  margin 0


//QUITAR OUTLINE A TODOS LOS ELEMENTOS
*:focus
  outline: none !important






::-webkit-input-placeholder {
   color: gray;
}
:-moz-placeholder { /* Firefox 18- */
   color: gray;
}
::-moz-placeholder {  /* Firefox 19+ */
   color: gray;
}
:-ms-input-placeholder {
   color: gray;
}



// MENSAJE QUE INDICA QUE ESTÁS EN SOURCE
.update-browser
  width 100%
  height 100%
  position fixed
  overflow hidden
  top 0
  bottom 0
  left 0
  right 0
  background #666
  display none

  .update-browser-header
    position fixed
    top 0
    left 0
    width 100%
    height 80px
    padding 25px
  .update-browser-link
    color white
    font-size 20px
    display block
    margin 0 auto
    width 60%
    a
      color white
      text-decoration underline


//ESTILOS GENERALES
a:link, a:visited, a:hover, a:focus
  text-decoration none

fieldset
  border none

.btn, a
  cursor pointer
