
//DISPLAY TABLE (CENTRAR UN ELEMENTO VERTICALMENTE DE FORMA AUTOMÁTICA)

//CONTENEDOR
display-table()
  display table
  height 100%
  margin: 0 auto;

//ELEMENTO CENTRADO
display-table-cell()
  display table-cell
  vertical-align middle






// CENTER (CENTRAR UN ELEMENTO HORIZONTALMENTE)
centers(size)
  margin 0 auto
  display block
  clear both
  width 100%
  height inherit
  max-width size




// CLEARFIX
clearfix()
  &:before,
  &:after
    content: " ";
    display: table;
  &:after
    clear: both;



// LINE
line(w, h, m = '0 5px', bgc)
  width w
  height h
  display inline-block
  margin m
  background-color bgc





ultralight()
	font-family: 'Conv_HelveticaNeue-UltraLight', helvetica, arial
light()
	font-family: 'Conv_HelveticaNeue-Light', helvetica, arial
regular()
	font-family: 'Conv_HelveticaNeue', helvetica, arial
medium()
	font-family: 'Conv_HelveticaNeue-Medium', helvetica, arial
bold()
	font-family: 'Conv_HelveticaNeue-Bold', helvetica, arial
bold-condensed()
	font-family: 'Conv_HelveticaNeue-CondensedBold', helvetica, arial
