

//VARIABLES DE COLORES
$blue = #0064A7
$skyblue = #0091C9
$mustard = #fdb924
$gray = #f0f3f7
$gray2 = #A4AEB5
$gray3 = #525252
$lilac = #789dc9

$mustardGradientTop = #fdb722
$mustardGradientBottom = #fd9c04

$blueGradientLeft = #005181
$blueGradientRight = #0064A7




//CLASES DE COLORES
.blue
  color $blue
.skyblue
  color $skyblue
.mustard
  color $mustard
.gray
  color $gray
.gray2
  color $gray2
.white
  color white
.black
  color black
