
////////////////////////////////////////////
//// ESTILOS DE LA ESTRUCTURA DEL SITIO ////
////////////////////////////////////////////



//////////////////////////////////
//// CONTENEDORES PRINCIPALES ////
//////////////////////////////////
.main
  width: 100%;
  float: left;
  overflow hidden
  padding-bottom: 69px
  background $gray
  min-width: 300px


//MAIN-HEADER
.main-header
  height: 114px
  background $blue
  color white
  .header-logo
    margin-top: 18px

  //HEADER NAV
  .header-nav
    height: 27px
    background $mustard
    background linear-gradient($mustardGradientTop, $mustardGradientBottom);
    position: absolute;
    bottom: 0

    div
      text-align right
    .nav-link
      color white
      font-size 12px
      light()
      margin-right 30px
      line-height: 27px;
      &:last-of-type
        margin-right: 0

  //HEADER RIGHT
  .header-right
    padding-top 18px
    &.logged
      .ico-empresa-img
        position absolute
        top 23px
        height 39px
        margin-left 5px
    &.not-logged
      .ico
        float right
        margin-left 20px
    .section-title
      font-size 34px
      float:right
      bold-condensed()
      line-height: 65px;
      vertical-align: bottom;
    .header-col
      height: 100%
      float left
    .small
      font-size 75%
    // .ico_empresa-1x
    .header-col-1
      // width: 200px
      padding-right 45px
      padding-top 8px
      span
        line-height 1.2
        display block
    .header-col-2
      width: 65px
      line-height 4
    .header-col-3
      width: 80px
      line-height 4
    .company-name
      light()
      font-size 13px
    .person-name
      light()
      font-size 15px
    .fa-envelope-o
      font-size 1.5em
.div-left
  float left


//MAIN-FOOTER
.main-footer
  min-height 70px
  background $blue
  border-top 4px solid $mustard
  position absolute
  left 0
  bottom 0
  .ico-top-1x
    position: absolute;
    left: 27px;
    top: -29px;
    cursor pointer
    display: none
  .small-center
    position: relative;
  .footer-phones
    font-size 14px
    light()
    padding 25px 0
  .footer-logo
    margin 18px 35px 0 0
  address
    font-size 12px
    light()
    padding-top 21px
  //FOOTER EXTRA
  .footer-extra
    position: absolute;
    top: -12px
    right 0
    height: 82px
    border-top 4px solid $mustard
    background: $blue
    z-index: 1
    display none
    .footer-extra-img
      width 100px
      height: 41px
      position: absolute;
      left -60px
      top -4px
      background url('../images/footer-1x.png') no-repeat
  //FOOTER SOCIAL
  .footer-social
    padding: 18px 54px 0 0
    position: relative;
    z-index: 1
    .social-text
      float left
      line-height: 31px;
      margin-right: 15px
    .fa
      width 31px
      height 31px
      border-radius 31px
      text-align center
      color $blue
      background white
      float left
      margin-right: 19px
      vertical-align: middle;
      line-height: 31px
      &:last-child
        margin-right: 0






/////////////////////////////
//// COMPANY LOGIN STEPS ////
/////////////////////////////
.panel-steps
  padding-top: 50px
  &.panel-3-cols, &.panel-2-cols
    .panel-step
      padding 0 45px !important

//COMPANY LOGIN STEP
.panel-stepAdm
  padding-left 10px
  &:first-of-type
    padding-right: 0
    border-right: 1px dotted $gray2
    &.no-border
      border none
  .step-title
    font-size 13px
    bold()
  .step-label
    font-size 12px
    light()
    margin: 13px 0 10px 0
.panel-step
  padding-left 35px
  &:first-of-type
    padding-left: 0
    padding-right: 35px
    border-right: 1px dotted $gray2
    &.no-border
      border none
  &:last-of-type
    padding-right: none
  #login-card-select
    margin-top 0px
  .step-symbol
    font-size 50px
    bold()
    color #e6e7e9
    text-align center
    display block
    margin 0 auto 13px auto
  .step-img
    padding-top 15px
  .step-link
    color $skyblue
    font-size 12px
    &:hover, &:visited
      color $skyblue
  .step-text
    font-size 12px
    light()
    margin-bottom: 20px
  .step-label
    font-size 12px
    light()
    margin: 13px 0 10px 0
  .step-title
    font-size 13px
    bold()
  .btn
    display block
    margin 0 auto
  .btn-next
    height: 34px
    margin-top: 15px


//PASSWORD KEYBOARD
.password-keyboard
  .btn
    float: left
  .keyboard-key
    width 40px
    height: 34px
    font-size 18px
    bold-condensed()
    padding 0
    margin-bottom: 6px
    margin-right: 6px
    &:nth-child(4n)
      margin-right: 0
  .keyboard-btn
    width: 86px
    height: 34px
    padding 0


#keyboard-container
  .btn-keyboard-ok
    clear: both;
    display none



//HELP CLOUD
.section-welcome .help-cloud
  top -113px

.help-cloud
  width 70px
  height 40px
  padding 6px 6px
  border-radius: 5px
  background $lilac
  color white
  font-size 11px
  font-style: italic;
  line-height: 14px
  text-align center
  regular()
  position: absolute;
  right -116px
  top 0px
  cursor pointer
  box-shadow: 1px 3px 10px 0px rgba(51, 48, 48, 0.41);
  .fa
    background $lilac
    position: absolute;
    left 0
    top 0
    width: 100%
    // height: 100%
    z-index 2
    color: #fff;
    font-size: 1.7em;
    border-radius: 5px
    vertical-align: middle;
    line-height: 40px;
    opacity 0
    transition opacity 0.4s
  .arrow
    sprite($ico_ayuda_1x)
    position absolute
    left 50%
    bottom -11px
    margin-left -9px

  .help-cloud-content
    height 340px
    overflow auto
    font-style: normal
    text-align left
    position: absolute;
    z-index: 1
    right 0
    top 56px
    width 230px !important
    padding 20px
    background #f5f7fa
    border-radius 8px
    cursor auto
    box-shadow: 1px 3px 10px 0px rgba(51, 48, 48, 0.41);
    display none
    a:hover
      color $skyblue
    .content-block:first-child
      margin-bottom 25px
    .content-title
      font-size 14px
      margin-bottom 20px
      padding-left 20px
      font-size 13px
    .content-link
      font-size 14px
      margin-bottom 5px
      clear both
      display: block
      font-size 12px
      width 100%
      color $gray3
    .ico
      float left
      margin 2px 7px 0px 0
    .link-text
      display table

  &.active
    .fa
      opacity 1






///////////////////////////////
//// SECTION SECURITY TIPS ////
///////////////////////////////
.section-security-tips
  margin-bottom: 65px !important
  margin-top 120px
  .panel-heading
    height 81px
    padding 0 44px
    .heading-ico
      margin-right: -30px;
  .panel-body
    padding 32px 27px
  h1
    margin 0
    padding 26px 0 0 0
    font-size 34px
  //PANEL TIPS CONTAINER
  .panel-tips-container
    max-height: 245px
    padding-left 20px
    overflow auto
    word-wrap: break-word;
    list-style-image: url('../images/blue-dot.png')
    b
      light()
      font-size 13px
    ul
      list-style none
      padding 0
      li:first-child
        margin-top 20px
    li
      font-size 13px
      color $gray3
      margin-bottom 20px
  //TIPS TERMS
  .tips-terms
    margin-top 25px
    .terms-text
      font-size: 13px;
      line-height: 15px;
      width: 260px;
      display: inline-block;
      color $gray3
    .icheckbox_square-blue
      margin -14px 13px 0 0
  .btn
    margin-top 25px


//SECURITY TIPS ASIDE
.security-tips-aside
  margin-top: -45px;
  margin-bottom: 85px;
  padding-left: 35px;
  .aside-title
    font-size 16px
    bold-condensed()
  .aside-link
    margin-left 22px
    .ico
      margin-right 5px
  .link-text
    font-size 10px






/////////////////////////////////
//// SECTION CLOSING SESSION ////
/////////////////////////////////
.section-closing-session
  .first-text
    margin 35px 0 105px 0
    medium()
  .session-countdown
    clear both
    margin-top 10px
    font-size 95px
    display: block;
    ultralight()






//////////////////////////////////
//// SECTION PASSWORD CREATED ////
//////////////////////////////////
.section-password-created
  .second-text
    float left
    margin 90px 0 80px 0
  .btn
    margin 0 auto
    display block






/////////////////////
//// COORDINATES ////
/////////////////////
.section-enter-coordinates
  .step-title
    margin-top 45px
  .bold-num
    font-size 23px
    bold()
  .panel-step:first-of-type
    padding: 30px
  .panel-step:last-of-type
    padding: 0 25px 0 10px
    margin-left: 65px;
  .panel-body
    .welcome-text
      light()
      float left



//COORDINATES TABLE
.coordinates-table
  height: auto;
  width: 100%
  max-width 570px
  min-height: 350px
  padding 30px
  background $blue
  background linear-gradient(to right, $blueGradientLeft, $blueGradientRight 65%);
  border-radius 10px
  position: relative;

  .ico-blue-cloud
    position: absolute;
    right: -1px;
    bottom: -33px;

  .ico-amarillo-cloud
    position: absolute;
    right: -1px;
    bottom: -32px;

  h3
    font-size 22px
    light()
    margin 0 0 18px 0
  .info-text
    font-size 13px
    light()
    letter-spacing: 0.4px
    margin-bottom 29px
  img
    margin-right: 60px
    box-shadow: 1px 3px 10px 0px rgba(51, 48, 48, 0.41);
  .table-help-info
    width: 125px
    margin-top 45px
    b
      bold-condensed()
      font-size 18px
    .info-position
      font-size 23px
      margin-right: 12px
      margin-top: 10px
    .info-number
      margin-top: 10px
      width: 70px
      background white
      padding 4px 16px
      border-radius 6px
      font-size 20px
      bold-condensed()
      box-shadow: 1px 3px 10px 0px rgba(51, 48, 48, 0.41);
    p
      font-size 13px
      margin-bottom 5px




//////////////////////////
//// SELCTION WELCOME ////
//////////////////////////

//INNER TOP DATA
.inner-top-data
  position relative

.inner-top-text
  font-size: 12px
  padding-top 4px
  light()
  &.second
    background $blue
    border-radius 0 0 10px 10px
    padding 3px 12px 5px 12px
    img
      display: inline-block;


//SECTION WELCOME
.section-welcome
  margin-left: -3px
  max-width: 960px
  min-height: 330px
  position: relative;
  float left
  margin-top 80px
  border-radius 15px
  // box-shadow: 1px 7px 7px 0px rgba(97,91,91,0.28)
  box-shadow: 0px 6px 11px 0px rgba(0,0,0,0.5)


  .tab-indicator
    position absolute
    left 0
    top 0
    // box-shadow: 1px 3px 11px 0px rgba(97,91,91,0.28)
    // background: url(sheep.png) center bottom no-repeat, url(betweengrassandsky.png) left top no-repeat;



  .panel-body
    padding 32px 37px 35px 37px

    .content-title
      color #7f7f7f

  //CONTENT MENU
  .content-menu
    position: absolute;
    top: 48px
    left -190px
    width: 190px
    .menu-group-content *
      font-size 14px
      light()
      color white
    .menu-title
      width 100%
      height: 35px
      font-size 13px
      display none
      medium()

      .fa
        font-size 1.7em
        margin-right: 8px
      *
        line-height: 35px
        vertical-align: middle;

    &.content-companies
      .menu-group.active
        .menu-group-btn
          background $skyblue
          color white
          medium()
        .menu-group-content
          background $skyblue url("../images/back-right.png") no-repeat scroll right center
          max-height 400px
          padding 20px 0 20px 25px
      .menu-title
        background $skyblue
      .menu-group-btn.hover:hover
        background $skyblue
        color white
        medium()
    &.content-persons
      .menu-group.active
        .menu-group-btn
          background $mustard
          color white
          medium()
        .menu-group-content
          background $mustard
          display block
      .menu-title
        background $mustard
      .menu-group-btn.hover:hover
        background $mustard
        // color white
        // medium()


  //MENU GROUPS
  .menu-groups
    z-index: 1
    .menu-group
      position: absolute;
      left -1px
      top 0
      width: 100%


  //MENU GROUP BTN
  .menu-group-btn
    color $gray2
    position: absolute
    top: -110px
    left: 351px
    background transparent
    box-shadow: none
    transition background 0.3s
    regular()
    font-size 13px
    padding 20px 30px
    border-radius 13px 13px 0 0
    letter-spacing: 0.4px
    &.second-btn
      left 513px
    &.third-btn
      left 690px
    &.fourth-btn
      left 864px
    .fa
      font-size 1.2em
      float right
      margin 10px 0 0 0
      display: none


  //MENU GROUP CONTENT
  .menu-group-content
    // display none
    max-height 0
    overflow hidden
    padding 0
    border-radius: 10px 0 0 10px
    a
      border-bottom 1px dotted rgba(255, 255, 255, 0.32)
      padding 5px 0
      min-height: 30px
      vertical-align: middle;
      width: 100%
      display: block;
      &:last-of-type
        border none
  .content-title
    font-size 46px
    medium()
    margin: 20px 0
  .content-text
    font-size 15px
.section-welcome .panel-body .content-title
  ultralight()
.div-select-tarjeta
  height auto
  background-color #F0F3F7
  border none
  box-shadow none

//Clave SMS

.coordinates-table
  height auto
  width 100%
  max-width 570px
  min-height 350px
  padding 30px
  background $blue
  background linear-gradient(to right, $blueGradientLeft, $blueGradientRight 65%)
  border-radius 10px
  position relative

.coordinates-table.clave-sms
  height: auto;
  width: 100%
  max-width 570px
  min-height: 350px
  padding 30px
  background $blue
  background rgba(0, 0, 0, 0) linear-gradient(to right, #fda008, #FFB500 65%) repeat scroll 0 0
  border-radius 10px
  position: relative;
    img
      box-shadow none
      position absolute
      bottom -30px

    .table-help-info
      width: 225px
      margin-top 90px
      margin-right 20px

.coordinates-table.clave-sms .table-help-info p
  font-size 16px

.section-welcome .content-menu.content-persons .menu-group.active .menu-group-content
  background $mustard url("../images/back-right.png") no-repeat scroll right center
  display block
  max-height 400px
  padding 20px 0 20px 25px

.content-menu.content-persons .menu-group-content a
  color #0064A7

.section-welcome .content-menu.content-persons .menu-group.active .menu-group-btn, .section-welcome .content-menu.content-persons .menu-group-btn
  color #0064a7

//05-04-16
.menu-title-desplegable
  border-radius 5px 5px 0 0


.btn-correct
  display: inline-block
  margin-top: 25px
  padding: 6px 12px
  margin-bottom: 0
  font-size: 14px
  font-weight: 400
  line-height: 1.42857143
  text-align: center
  white-space: nowrap
  vertical-align: middle
  -ms-touch-action: manipulation
  touch-action: manipulation
  cursor: pointer
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  border: 0
  border-radius: 4px

.btn-correct2
  display: inline-block
  margin-top: 5px
  padding: 6px 12px
  margin-bottom: 0
  font-size: 14px
  font-weight: 400
  line-height: 1.42857143
  text-align: center
  white-space: nowrap
  vertical-align: middle
  -ms-touch-action: manipulation
  touch-action: manipulation
  cursor: pointer
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  border: 0
  border-radius: 4px

.menu-active1
  color: white !important

.content-table
  font-family: 'Conv_HelveticaNeue-UltraLight', helvetica, arial
  color: black
  margin: 20px 0
  font-size: 22px

.table-design
  font-family: 'Conv_HelveticaNeue-UltraLight', helvetica, arial

.table
  color: #9A9A9A

tbody
  font-size: 15px
.tr-bg
  background-color:#F6F8FB
  color:silver
  font-size: 12px !important

table th, table td
  border-top: none !important
  border-left: none !important

.table
  thead
    & > tr
      & > th
        border-bottom: none !important

.wTD
  width: 25%
.blueTxt
  font-size: 13px
  color: #0064a7

#movilText
  font-size: 12px
.mb
  .textDesingMovil
    font-family: 'Conv_HelveticaNeue-UltraLight', helvetica, arial !important
    font-size: 23px !important
    font-weight: bold !important
.showDetailsNumber_mobil_block
  display: block

#click-backDetails
  color: $blue

.bgTitle
  background: #FDB924
  margin-left: -23px
  width: 105.2%
  padding-left: 40px
  padding-top: 10px
  padding-bottom: 10px
  color: white

.bgShowTotal
  background: #FDB924
  margin-left: -23px
  width: 105.1%
  padding-left: 40px
  padding-top: 10px
  padding-bottom: 3px
  .textShowTotal
    margin-right: 32px
    text-align: right
.detailAhorro_corriente
  padding-left: 15px
  color: silver !important
  margin-bottom: 25px

.icons-details
  margin-top: 24px
  a
    margin-left: 30px
    color: silver
    vertical-align: top
    -moz-vertical-align: top
    -webkit-vertical-align: top
#dL
  margin-left: 16px

@media all and (-ms-high-contrast:none)
  .ico-empresa-img
    margin-left: 22% !important

@media all and (-ms-high-contrast:none)
  *::-ms-backdrop, .ico-empresa-img
    margin-left: 22% !important

.textUpper
  text-transform: uppercase

.tecladoBor
  border-right: none !important
.admTextBox
  font-size: 16px
  font-weight: bold
.cnt1
  margin-top: 41%
  margin-left: 44px
.mT
  margin-top:50px
  padding: 10px
.mT2
  margin-top: 50px
  padding: 20px
  color: silver
  font-size: 14px !important

.hrStyle
  display: flex
  -webkit-width:108.7%
  -moz-width:108.7%
  width:108.7%
  color: $mustard
  height: 3px
  border-top: 2px solid
  margin-left: -38px
.hrStyle2
  margin-top: 5px
  display: flex
  -webkit-width:105.2%
  -moz-width:105.2%
  width:105.2%
  color: $mustard
  height: 3px
  border-top: 2px solid
  margin-left: -24px
.silver
  color: silver
  font-size: 14px !important
.silver2
  color: #827F7F
  font-size: 14px !important
  opacity: .9
.silverSelect
  color: silver
  font-size: 14px
  font-weight: bold
.mustard
  color: $mustard
  font-weight: bold
#ctn-cro
  margin-bottom: 15px
.pagination
  margin: 0
  margin-top: -10px
  & > li
    &:last-child
      & > a
        margin-left 5px
    & > a
      color: silver !important
      font-weight: bold !important
      border: none !important
    & > a:hover
      color: $mustard !important
      background-color: transparent
  & > .active
    & > a
      color: $mustard !important
      background-color: transparent
    & > a:hover
      background-color: transparent
.pagTwo
  li
    a
      color: white !important
    a:hover
      color: white !important
.btnPaginate
  background-color: silver !important
#ctn-creditos
  margin-top: 15px
  padding-left: 15px
#tableMTN
  margin-top: -23px
#tableMT
  margin-top: 20px
.labelTwo
  font-size: 12px !important
  color:silver
.form-select
  width 86%
  height 34px
  background-color #fff
  border: none
  border-bottom: 1px solid rgba(192, 192, 192, .2)
.form-modal
  width:100%
  height 15px
  border: none
  background-color #fff
  border-bottom: 1px solid rgba(192, 192, 192, .2)
  text-align: left
  color: gray
  margin-bottom: 20px
.content-extrSaldo
  padding: 13px
.btnTOP
  margin-top: 25px
.btnTOP2
  margin-top: 100px
.alert-extractoSaldo
  background-color: #f0f9fb
  margin-left: -23px
  width: 105.1%
  .pMT
    margin-left: 33px
    margin-top: 18px

.modal-backdrop
  &.in
    background-color: white
    opacity: .8
.modal-header
  background: $blue
  -webkit-border-top-left-radius: 6px
  -webkit-border-top-right-radius: 6px
  -moz-border-radius-topleft: 6px
  -moz-border-radius-topright: 6px
  border-top-left-radius: 6px
  border-top-right-radius: 6px
  color: $mustard !important
.modal-content
  border:none
  p
    color: silver
.modal-title
  margin-left: 38px;
.modal-medium
  width: 500px
  margin-left: 90px
.modal-footer
  border-top: none
.modal-Padding
  padding: 40px
.datepicker
  background: url("../images/ic_calendario.png")
  background-repeat: no-repeat
  background-position: right 10px center
.mL16
  margin-left:16px
.mBOTTOM
  margin-bottom: 15px
.modalPTitle
  font-size: 14px
.messageSMS
  font-size: 16px
  margin-top: 15px
  letter-spacing: 0.5px
.menuPersonas
  background: #fdb924 url("../images/back-right.png") no-repeat scroll right center
  padding: 12px
  width: 24%
  font-size: 22px
  margin-left: 76%
  -webkit-border-top-left-radius: 6px
  -webkit-border-bottom-left-radius: 6px
  -moz-border-radius-topleft: 6px
  -moz-border-radius-bottomleft: 6px
  border-top-left-radius: 6px
  border-bottom-left-radius: 6px
.menuPersonas2
  background: #fdb924
  padding: 12px
  width: 110%
  font-size: 22px
  margin-left: 76%
  border-radius: 6px
.menuEmpresas
  background: #0091c9 url("../images/back-right.png") no-repeat scroll right center
  padding: 12px
  width: 24%
  font-size: 22px
  margin-left: 76%
  -webkit-border-top-left-radius: 6px
  -webkit-border-bottom-left-radius: 6px
  -moz-border-radius-topleft: 6px
  -moz-border-radius-bottomleft: 6px
  border-top-left-radius: 6px
  border-bottom-left-radius: 6px
