/////////////////
//// MODULOS ////
/////////////////
// DISPLAY TABLE
.display-table
  display-table()

  .display-table-cell
    display-table-cell()


// CENTER
.big-center
  centers(1500px)

.center
  centers(1200px)

.small-center
  centers(960px)

.medium-center
  centers(650px)

.tiny-center
  centers(570px)


// CLEARFIX
.clearfix
  clearfix()


// PROPERTIES
.hide
  opacity 0
.none
  display none
.error
  // border 1px solid red !important
  color red
  display block
  font-size 12px
  height 17px






////////////////
//// ICONOS ////
////////////////
.ico
  display inline-block
.ico-empresa-1x
  sprite($ico_empresa)
.ic_exportar_excel
  sprite($ic_exportar_excel)
.ic_impresion
  sprite($ic_impresion)
.ic_enviar
  sprite($ic_enviar)
.ic_alerta
  sprite($ic_alerta)
  vertical-align: middle
.ico_calendario
  sprite($ic_calendario)
.ico-persona-1x
  sprite($ico_persona)
.ico-pdf-1x
  sprite($ico_pdf)
.ico-vineta-1x
  sprite($ico_vineta)
.ico-atras-1x
  sprite($ico_atras)
.check-on-1x
  sprite($check_on)
.check-off-1x
  sprite($check_off)
.ico-top-1x
  sprite($ico_top)
.ico-blue-cloud
  sprite($blue_cloud)
.ico-amarillo-cloud
  sprite($yellow_cloud)
.ico-exit
  sprite($ico_exit)
  margin-bottom -3px
.x_tab_celeste
  sprite($x_tab_celeste)
  position absolute
  top 59px
  left 43px
.x_tab_amarillo
  sprite($x_tab_amarillo)
  position absolute
  top 59px
  left 43px
.view_details
  sprite($view_details)


/////////////////
//// BOTONES ////
/////////////////
.btn
  border-radius 6px
//BTN-BLUE
.btn-blue
  background $blue
  border-bottom 3px #04548a solid
  color white
  text-transform: uppercase
  font-size: 12px
  letter-spacing: 1px
  light()
  height 32px
  padding 6px 30px
  &.hover:hover
    color white
    background: #0080bf
  &.hover:focus
    color white
    background: #0080bf
a.btn-blue
  width 160px
  &.hover:hover
    color white
    background: #0080bf

//BTN-MUSTARD
.btn-mustard
  background $mustard
  border-bottom 3px #fd9900 solid
  color $blue
  text-transform: uppercase
  font-size: 16px
  letter-spacing: 0.2px
  bold-condensed()
  height 32px
  padding 0 30px
  &.hover:hover
    color white
    background #ffa300

//BTN-PLASTIC

.btn-plastic
  overflow: hidden;
  sprite($btn_plastic)
  &.hover:hover
    sprite($btn_plastic_hover)
  &.btn-plastic-2
    sprite($btn_plastic_2)
    &.hover:hover
      sprite($btn_plastic_2_hover)

/////////////////
//// PANELES ////
/////////////////
.panel
  width: 100%
  border-radius: 15px
  background white
  box-shadow: 1px 3px 11px 0px rgba(97,91,91,0.28)
  margin 15px 0 85px 0
  position: relative;

  p
    font-size 16px


//PANEL HEADING
.panel-heading
  min-height: 40px
  background $blue
  border-radius: 15px 15px 0 0
  padding 0 30px

  h1
    margin 12px 0
    bold-condensed()
    font-size: 15px;
  p
    medium()
    font-size: 16px;
  .panel-heading-aside
    font-size 12px
    regular()
    margin-top 11px
    b
      font-size 13px
      medium()
      margin-left 2px
    .ico-clock
      margin -1px 6px 0 0


//PANEL BODY
.panel-body
  padding 32px 50px 50px 50px

  h2
    bold-condensed()
    font-size: 26px;
  strong
    font-size 20px
    bold()

  .body-pdf
    font-size 11px
    regular()
    span
      line-height: 20px;
      vertical-align: top;
      margin-left: 3px;

  .panel-name
    font-size 17px
    margin-bottom 20px
  .extra-text
    margin-top: 74px;
    medium()
    line-height: 20px
    font-size 18px
    b
      font-size 23px
      bold()
      clear both
      text-align center
      display block




/////////////////
//// MODALES ////
/////////////////
.modal-header .close
  margin-top: -2px;
  color: white;
  box-shadow: none;
  text-shadow: none;
  opacity: 1;
  font-size: 1.7em;
  margin: 10px -13px 0 0;
.panel-modal
  background none
  border-radius: 15px;
  .modal-foot
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -31px;
  .modal-body
    background white
    border-radius 0 0 15px 15px
    padding: 15px 50px 30px 50px
    font-size 14px
    line-height: 16px

  .panel-heading
    float none !important
    h1
      font-size 35px
      padding: 30px 0 25px 0;
      float: none;
      display: block;
      margin 0

  .modal-list
    padding-left 15px
    list-style-image: url('../images/mustard-dot.png')
    li
      margin-bottom 12px



/////////////////
//// INPUTS ////
/////////////////
//FORM CONTROL
.form-control
  border-radius 6px
  font-size: 13px;

//SELECT
select
  appearance: none;
  background: url("../images/select-arrow.png") no-repeat 95% center transparent !important;
