
//USANDO OTRO SPRITE EN PANTALLAS RETINA
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
  .ico, .check-off-1x, .check-on-1x, .btn-plastic
    background-image:url('../images/sprite2x.png') !important
    background-size $spritesheet_width $spritesheet_height !important




@media only screen and (max-width:1200px)
  .help-cloud
    right 13px
    top 59px
  .main
    padding-bottom 90px
  .section-security-tips
    margin-top: 30px

@media only screen and (max-width:1190px)
  .inner-top-text.second
    margin-right 100px
  .section-welcome .help-cloud
    right -4px
    top -108px
    position absolute

@media only screen and (max-width:1010px)
  .content-menu.content-persons .white.text-uppercase
    color #0064a7
  .x_tab_amarillo
    display none
  .coordinates-table .ico-amarillo-cloud
    display: none
  .section-welcome .menu-group-btn .fa
    display: block;
    color white
  .inner-top-data
    float: none
  .section-welcome
    float: none;
    margin: 105px auto 0 auto;
  .section-welcome .menu-group-btn
    width: 100%;
    border-radius: 10px 10px 0 0
    height: 38px
    line-height: 38px
    padding 0 20px 0 25px
  .section-welcome .menu-group, .section-welcome .menu-group-btn
    position: relative !important
    left auto !important
    top auto !important
    text-align: left
  .section-welcome .content-menu
    top: -47px;
    left: 0;
    width: 100%
  .section-welcome .menu-groups
    display: none
  .section-welcome .menu-group
    width: 300px
    // display none
    &.first
      border-radius 15px 15px 0 0
      overflow: hidden;
    &:last-of-type
      border-radius 0 0 15px 15px
      overflow: hidden;
  .section-welcome .content-menu.content-companies a
    line-height: 38px
    height: 38px
    padding: 0
    background #007fbe
    padding-left: 25px
  .section-welcome .content-menu.content-persons a
    line-height: 38px
    height: 38px
    padding: 0
    background #fda900
    padding-left: 25px
  .section-welcome .menu-group-content
    border-radius 0
    padding 0
    transition max-height 0.3s ease
  .section-welcome .content-menu.content-companies .menu-group.active .menu-group-content, .section-welcome .content-menu.content-persons .menu-group.active .menu-group-content
    padding: 0
  .section-welcome .content-menu .menu-title
    margin-bottom: 10px
    border-radius: 10px
    padding 0 25px
    display block
  .content-menu.content-companies .menu-group .menu-group-btn
    background: $skyblue
    color: white
    medium()
    border-radius: 0
    border-bottom 1px solid rgba(255, 255, 255, 0.32)
  .content-menu.content-persons .menu-group .menu-group-btn
    background: $mustard
    color: #0064a7
    medium()
    border-radius: 0
    border-bottom 1px solid rgba(255, 255, 255, 0.32)
  .section-welcome .content-menu.content-companies .menu-group.active .menu-group-btn
    background: #007fbe
  .x_tab_celeste
    display none
  .section-welcome .menu-group-btn .fa
    right 20px
    position absolute
    top 0px
  .section-welcome .help-cloud
    top -100px
    right -4px
  .inner-top-text.second
    margin-right 19%



@media only screen and (max-width:991px)
  .panel-step, .panel-steps.panel-3-cols .panel-step
    padding: 0 13% !important
    min-height: 235px;
    margin-bottom: 20px;
  // .panel-steps.panel-3-cols .panel-step
  //   padding: 0 13% !important
  .small-center, .tiny-center
    padding: 0 3%;
  .panel-body strong
    font-size: 17px
  .main-footer address, .main-footer .footer-social, .main-footer .footer-phones, .main-footer .footer-phones + div
    text-align center
  .main-footer .footer-social .fa, .main-footer .footer-social .social-text
    display inline-block
    float none
  .main-footer .footer-social
    padding: 0 54px 18px 0;
  .section-security-tips .tips-terms .terms-text
    width: 80%
  .main-footer .footer-logo
    margin: 0 auto 20px auto
    display: block;
    float: none !important;
  .coordinates-table
    overflow: hidden
  .section-enter-coordinates .panel-step, .section-enter-coordinates .panel-step:last-of-type
    padding 30px !important
    margin: 0 auto;
    display: block;
    float: none;
  .section-enter-coordinates .panel-step-1
    max-width: 245px;
    padding: 0 !important;
  .coordinates-table .ico-blue-cloud
    display none

@media only screen and (max-width:960px)
  .inner-top-text.second
    margin-right 19%
  .x_tab_amarillo
    display none

@media only screen and (max-width:900px)
  .panel-step, .panel-steps.panel-3-cols .panel-step
    padding: 0 11% !important
  .inner-top-text.second
    margin-right 16%



@media only screen and (max-width:790px)
  .panel-step:first-child
    border none
  .panel-step, .panel-steps.panel-3-cols .panel-step
    padding: 0 10% !important
  .main-header .header-right.logged
    width: 60%
  .inner-top-text.second
    margin-right 100px
  .section-welcome .help-cloud
    position absolute !important
  .help-cloud
    line-height 14px


@media screen and (max-width: 850px) and (min-width: 790px)
  .inner-top-text.second
    margin-right 13%
  .help-cloud
    line-height 14px

@media only screen and (max-width:768px)
  .section-welcome .content-companies .menu-groups, .section-welcome .content-persons .menu-groups
    position absolute
    width 100%
    margin-top 10px
  .section-welcome .content-companies .menu-title.menu-title-desplegable
    border-radius 5px
  .body-top > div, a.body-pdf
    width 100%
  .help-cloud .help-cloud-content .content-link
    line-height 13px
  .section-welcome .help-cloud .fa.fa-times
    background #8FACD2
  .help-cloud .fa.fa-times
    line-height 40px
    background none
  .inner-top-text
    font-size 11px
  .inner-top-data
    height: 60px
  .section-welcome .content-title
    line-height 40px
    font-size 31px
    margin-top 0px
  .section-welcome .content-menu.content-companies .menu-title, .section-welcome .content-menu.content-persons .menu-title
    margin-bottom 0
    border-radius 5px
  .section-welcome .menu-group.first
    border-radius: 5px 5px 0 0
  .section-welcome .menu-group:last-of-type
    border-radius: 0 0 5px 5px
  .section-welcome .content-menu
    top: auto;
    left: auto;
    margin-bottom 10px
    position: relative;
  .section-welcome .menu-group
    width: 100%
  .section-welcome
    margin-bottom: 105px;
    overflow: visible !important
    background none
    box-shadow: none
    margin-top 10px
  .section-welcome .panel-body
    background: #fff;
    width: 100%;
    border-radius: 15px;
    box-shadow: 1px 3px 11px 0px rgba(97,91,91,0.28);
  .coordinates-table .table-help-info .info-position
    margin-right: 0
    margin-left: 12px
  .coordinates-table h3, .coordinates-table .info-text
    text-align: center;
  .section-enter-coordinates .panel-steps
    padding-top: 10px
  .section-enter-coordinates .bold-num
    text-align: center;
  .section-enter-coordinates .body-top .ico-atras-1x, .body-top .ico-atras-2x
    left 0
  .section-enter-coordinates .panel-body
    padding-left: 15px
    padding-right: 15px
  .coordinates-table .table-help-info
    width: 100%
  .coordinates-table img
    float: none !important
    margin 0 auto
    display block
    max-width: 100%;
    height: auto
  .section-password-created .second-text
    margin 30px 0 20px 0
  .panel-steps.panel-2-cols .panel-step
    padding 0 !important
  .panel-steps.panel-3-cols .panel-step
    padding: 0% !important
  .section-security-tips .tips-terms .icheckbox_square-blue
    margin: -28px 13px 0 0;
  .section-security-tips .tips-terms
    margin-top: -4px
  .section-security-tips .panel-body
    width: 100%;
  .section-security-tips .panel-tips-container
    overflow-x: hidden
  .body-top .ico-atras-1x, .body-top .ico-atras-2x
    position: absolute;
    left: -16px;
    top: 10px;
  .section-security-tips .btn
    margin: 0 auto;
    float: none !important;
    display: block;
    clear: both;
  #keyboard-container
    margin: 0;
    position: fixed;
    left: 0;
    bottom: -255px;
    z-index: 10;
    width: 100%;
    background: rgba(#ffffff, 0.72);
    max-width: 100%;
    min-height: 0;
    padding: 15px 0 25px 0 !important;
    border-top: 1px dotted $blue;
    transition bottom 0.3s
    &.active
      bottom 0
    .btn-keyboard-ok
      display block
  .main-footer address
    padding-top: 30px
  .main-footer .footer-extra .footer-extra-img
    left -100px
  .main-header .header-right .section-title
    display none
  .main-footer .footer-social
    padding-right 0
  .main-footer .footer-social .social-text
    display none
  .main-footer .ico-top-1x
    display block
  .panel
    overflow: hidden;
    // padding: 1% 0
  .panel-step
    max-width: 215px;
    padding: 0 !important;
    float: none;
    clear: both;
    display: block;
    margin-right: auto;
    margin-left: auto;
  .section-enter-coordinates .panel-step-0
    max-width: 100%
  .panel-step .step-title
    text-align center
  .section-welcome .help-cloud
      position absolute
      right -4px
      top -108px
      height auto
      border-radius 5px
      width 70px
      line-height 14px
      light()
      font-size 11px
  .help-cloud
    position: relative;
    float left
    width 100%
    line-height 30px
    height: 40px
    box-shadow none
    medium()
    right auto
    top auto
    border-radius 0px
    font-size 13px
  .section-welcome .help-cloud .arrow
    display block
  .help-cloud .arrow
    display none
  .panel-heading, .panel-heading h1, .panel-heading .panel-heading-aside
    width 100%
    float left
    text-align: center;
  .section-security-tips h1 + div .heading-ico
    width: 65%;
    max-width: 85px;
    margin-top: 7px;
    min-width: 64px;
  .section-security-tips h1
    width: 75%
    font-size: 23px;
    text-align: left;
  .panel-heading .panel-heading-aside
    margin 0 0 11px 0
  .panel-body
    padding-top 20px
    float left
  .panel-body h2
    font-size: 20px
  .panel-body .body-pdf
    text-align center
  .body-top > div
    text-align center
    margin-bottom: 20px
  .body-top > div
    padding-top 10px
  .panel-body strong
    font-size: 14px
  .panel b
    font-size: 16px;
  .panel-step .step-label
    width 100%
    text-align: center
  .password-keyboard
    width: 190px;
    margin: 0 auto;

  .section-welcome .help-cloud .help-cloud-content
    right: 5px;
    top: 55px;
  .main-header .header-nav div
    text-align right
  .main-header .header-nav .nav-link
    margin 12px
    font-size 11px
  .main-header .header-logo
    width: 140px
    margin: 15px 0 0 20px;
  .main-header
    height: 87px
  .main-header .header-right
    padding 5px 5px 0 0
  .panel-modal .modal-foot
    display none
  .panel-modal .modal-body
    padding: 15px 20px 30px 20px;
  .section-closing-session .first-text
    margin-bottom: 30px;
  .section-closing-session .session-countdown
    margin-top 0
  .panel-body
    padding-bottom: 30px
  .x_tab_celeste
    display none
  .section-welcome .help-cloud
    top -62px
    margin-right 10px
  .inner-top-text
    padding-left: 8px;
    padding-top: 16px;
  .main-header .header-right.logged .ico-empresa-img
    top 10px
  .section-welcome .help-cloud .fa
    text-align: center;
    padding-right: 0px;
  .help-cloud .fa
    // line-height: 30px
    // background: none;
    text-align: right;
    padding-right: 20px;
    // font-size: 1.4em;


@media only screen and (max-width:600px)
  .coordinates-table.clave-sms .table-help-info
    width: 190px
    margin-right 0

@media only screen and (max-width:576px) and (min-width:549px)
  .main-header .header-right .header-col-1
    padding-right 30px
    padding-top 10px
  .main-header .header-right
    width 65% !important
  .main-header .header-right .header-col-2, .main-header .header-right .header-col-3
    width 70px
  .main-header .header-right .person-name
    font-size 13px
  .inner-small
    font-size 11px
  .inner-top-text
    font-size 11px


@media only screen and (max-width:550px)
  .section-welcome .content-companies .menu-groups, .section-welcome .content-persons .menu-groups
    margin-top 0px
    position relative
    width auto
  .menu-title-desplegable
    border-radius 5px 5px 0 0 !important
  .section-welcome .menu-group.first
    border-radius 0px
  .section-welcome .help-cloud
      medium()
      font-size 13px
  .section-welcome .menu-title.menu-title-desplegable,.section-welcome .menu-title
    padding-right 20px !important
  .section-welcome .content-menu .menu-title .fa
    margin-right 0px
    float right
  .coordinates-table.clave-sms img
    position relative
  .coordinates-table.clave-sms .table-help-info
    width auto
    margin-right 0px
    // div
    //   width 100%
  .section-welcome .help-cloud .fa.fa-times
    background transparent
  .main-header .header-nav div
    text-align center
  .main-header .header-nav .nav-link
    margin 5px
  .section-welcome .help-cloud .fa
    // line-height: 30px
    // background: none;
    text-align: right;
    padding-right: 20px;
    // font-size: 1.4em;
  .help-cloud .help-cloud-content
    width 100% !important
  .help-cloud .help-cloud-content .content-link
    line-height 13px
  .section-welcome .help-cloud .help-cloud-content
   top 48px
  .section-welcome .help-cloud .fa, .help-cloud .fa.fa-times
    line-height 40px
    background none
  .inner-top-text.second
    width: 100%
    border-radius: 0
  .x_tab_celeste
    display none
  .inner-top-text.second
    margin-right 0px
    padding 5px 28px
    background-color #00527f
  .main-header .header-right.logged
    width auto
    padding-right 10px
    .header-col
      .ico-empresa-img
        display none
    .header-col.header-col-3
      .small
        display none
  .header-responsive550
    position absolute
    top -45px
    right 0px
  .main-header .header-right .header-col-2
    width 70px
    .small
      font-size 80%
      left 26px
      position absolute
      top 6px
  .main-header .header-right .header-col-3
    width 40px
  .main-header .header-right .header-col-1
    padding-right 0px
  .text-responsive550
    display none
  .text-responsive-info
    text-transform capitalize
  .inner-small-clock, .inner-small-dolar
    display block
  .main-header .header-logo
    margin-left 0
  .inner-small-dolar
    text-align: right
  .inner-small-blockleft
    float left
  .inner-small-blockright
    float right
  .div-left
    float none
  .section-welcome .help-cloud
    margin-bottom 10px
    position initial !important
    width 100%
    height 40px
    line-height 40px
    float none
  .inner-top-data
    height 40px
  .inner-top-text
    padding-top 8px
  // .fa.fa-times
  //   display none
  .section-welcome .help-cloud .arrow
    display none
  .help-cloud
    line-height 40px
    padding 0
    margin 0


@media only screen and (max-width:414px)
  .help-cloud .help-cloud-content
    right: 1%;
    width: 98%;
  .section-security-tips .panel-heading
    padding 0 25px
  .content-table
    margin: 0px

@media only screen and (max-width:320px)
  .coordinates-table
    .table-help-info
      .info-number
        width: 57px
