@font-face {
  font-family: 'FontAwesome';
  src: url('../files/fonts/fontawesome-webfont.eot?v=4.4.0');
  src: url('../files/fonts/fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'), url('../files/fonts/fontawesome-webfont.woff2?v=4.4.0') format('woff2'), url('../files/fonts/fontawesome-webfont.woff?v=4.4.0') format('woff'), url('../files/fonts/fontawesome-webfont.ttf?v=4.4.0') format('truetype'), url('../files/fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'Conv_HelveticaNeue-UltraLight';
	src: url('../files/fonts/HelveticaNeue-UltraLight.eot');
	src: local('☺'), url('../files/fonts/HelveticaNeue-UltraLight.woff') format('woff'), url('../files/fonts/HelveticaNeue-UltraLight.ttf') format('truetype'), url('../files/fonts/HelveticaNeue-UltraLight.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_HelveticaNeue-Light';
	src: url('../files/fonts/HelveticaNeue-Light.eot');
	src: local('☺'), url('../files/fonts/HelveticaNeue-Light.woff') format('woff'), url('../files/fonts/HelveticaNeue-Light.ttf') format('truetype'), url('../files/fonts/HelveticaNeue-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}



@font-face {
	font-family: 'Conv_HelveticaNeue';
	src: url('../files/fonts/HelveticaNeue.eot');
	src: local('☺'), url('../files/fonts/HelveticaNeue.woff') format('woff'), url('../files/fonts/HelveticaNeue.ttf') format('truetype'), url('../files/fonts/HelveticaNeue.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_HelveticaNeue-Medium';
	src: url('../files/fonts/HelveticaNeue-Medium.eot');
	src: local('☺'), url('../files/fonts/HelveticaNeue-Medium.woff') format('woff'), url('../files/fonts/HelveticaNeue-Medium.ttf') format('truetype'), url('../files/fonts/HelveticaNeue-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_HelveticaNeue-Bold';
	src: url('../files/fonts/HelveticaNeue-Bold.eot');
	src: local('☺'), url('../files/fonts/HelveticaNeue-Bold.woff') format('woff'), url('../files/fonts/HelveticaNeue-Bold.ttf') format('truetype'), url('../files/fonts/HelveticaNeue-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_HelveticaNeue-CondensedBold';
	src: url('../files/fonts/HelveticaNeue-CondensedBold.eot');
	src: local('☺'), url('../files/fonts/HelveticaNeue-CondensedBold.woff') format('woff'), url('../files/fonts/HelveticaNeue-CondensedBold.ttf') format('truetype'), url('../files/fonts/HelveticaNeue-CondensedBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_HelveticaNeue-thin';
	src: url('../files/fonts/HelveticaNeue-Thin.otf');
	// src: local('☺'), url('../files/fonts/HelveticaNeue-CondensedBold.woff') format('woff'), url('../files/fonts/HelveticaNeue-CondensedBold.ttf') format('truetype'), url('../files/fonts/HelveticaNeue-CondensedBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
